[2022-05-30 09:56] wilderino commented on #719
Je consens à afficher mes données du moment qu'il y est au moins x autres participants ayant les mêmes données et voulant les afficher avec moi.

Can be enhanced.

[2022-05-30 10:07] wilderino commented on #694
I don't know about any way to do this with kepler... I can only modify the range in pixels of the radius which is currently [10;30].
Do you know how to do it? Are do you want be to reduce once again the range?

[2022-05-31 08:04] fquellec opened #720 "Improve Error messages"
Improve clarity of error messages when the files are not found, or files are empty

[2022-06-02 11:11] Amustache opened #722 "If no data is given to a block, the block is not rendered"
Normal behaviour as the blocks are supposed to take something as input, however, an error should be explicitly displayed.

[2022-06-02 11:13] Amustache opened #723 "When a package is corrupted, the whole application/other packages do not load either"
E.g., I made a typo in the block declaration of <app> in [hestialabs](https://github.com/hestiaAI/hestialabs), and nothing is loaded afterward:

![image](https://user-images.githubusercontent.com/5108539/171617237-e775fd0a-3823-427d-ba3b-83bb8e11d098.png)

Please note that:
* I did not have other tabs open (known issue).
* I did not load anything (this is the home page).
* `npm install` was correc

[2022-06-02 14:49] wilderino opened #724 "Data transfers between bubbles"
To help us in the future we need to think now about how we will deal with data transfers between bubbles. This issue was created to have a discussion on this topic and to keep this in mind during the development of new features.

The goal is to have an ideal of **how** the data is transported, and identifying quick technical gains from this. And then focusing on those gains for the semantic types

[2022-06-03 07:03] pdehaye commented on #724
Excellent. Can we:
- (wiki style) list the type of gains that one can expect in general? (remove code redundancies between experiences, increase bottom up capabilities, remove duplication between upstream and downstream visualization and other tooling such as for derived data, standardize the consents, incorporation in generic view, fusion and comparison across data sources, etc)
- make an issue s

[2022-06-07 08:15] valentinoli commented on #494
All SPARQL/RDF related libraries have been removed

[2022-06-07 08:21] valentinoli commented on #723
This is expected.

[2022-06-07 11:16] Amustache commented on #723
I believe either or both a) not applications should fail if only one is corrupted b) an explicit error should be displayed front page.

What do you think?

[2022-06-07 12:24] valentinoli opened #731 "Share filtered table data"
Currently, all the data is uploaded whereas we want only data that matches filters to be shared.

[2022-06-07 12:42] valentinoli commented on #723
I think that would be ok, because anyway a package is not published unless it is error-free, so we should not expect errors in production.
But I do not know if it is technically feasible. We could try-catch around each import in `store/index.js`

[2022-06-08 09:10] valentinoli commented on #708
We need to

1. Show the list of experiences available to the current bubble
2. Redirect the user to the /login page when another bubble is accessed
3. Remove the logout function (for now)
4. Highlight the current bubble in the navigation drawer and display the current bubble

[2022-06-08 10:48] #708 closed

[2022-06-08 15:32] wilderino opened #735 "Problem when selecting only one archive in the collective experience"
When I select only 1 archive in the Google agg experience, I get the error "File not found: */block0x.json" for each tab. This does not happen when I select 2 or more.

[2022-06-08 16:29] Amustache opened #736 "Change sample data for TrackerControl Agg"
Currently it's .csv, it should be a .zip with a block.json inside.

[2022-06-08 17:44] andreaskundig opened #738 "File not found: **/block00.json in tl-aggregator"
This happens in trackercontrol when I load data shared by a participant that did not export the overview. If I export the overview it works

google tells me something similar: File not found: **/block01.json

[2022-06-09 07:01] #710 closed

[2022-06-09 07:01] #709 closed

[2022-06-09 07:20] andreaskundig commented on #660
This is being tracked in other issues like #711 and others

[2022-06-09 07:20] #660 closed

[2022-06-09 07:37] fquellec commented on #738
This is expected, if the participant doesn't share it's data, you will have a File not found error.

[2022-06-09 08:46] wilderino opened #739 "Refactor the vue components with maps to have one general component that takes a config as argument"

[2022-06-09 11:42] #736 closed

[2022-06-10 15:49] alexbfree opened #740 "Add text to Individual Experiences (TL only) about filtering/sharing"
## For Google Individual Experience:

For **all map tabs**, please add a label below the map, above the search box:

[code]

It should be in standard non-bold non-italic font (like 'This map shows what places Google think you visited with the size corresponding to the time you spent in this place:').

## For TC Individual Experience:

For **Overview tab**, please modify:

[code]
to:
[code]

### Fo

[2022-06-12 15:54] Amustache commented on #740
TC done

[2022-06-13 08:14] Amustache opened #742 "When using another port, Bubbles are not available"
Minor.

e.g., when port 3000 is used and the application goes `Trying a random port...`, the Bubble server does not work.

[2022-06-13 08:47] #740 closed

[2022-06-14 08:29] valentinoli commented on #72
@pdehaye @andreaskundig @alexbfree @fquellec
closing as we've made progress in this direction

[2022-06-14 08:29] #72 closed

[2022-06-14 08:33] valentinoli opened #886 "Export packages to a CDN [use npm instead of github packages]"
See https://github.com/hestiaAI/hestialabs-experiences/issues/150

[2022-06-14 08:39] valentinoli opened #885 "Semantic Release [versioning]"
https://www.npmjs.com/package/semantic-release
https://github.com/atlassian/lerna-semantic-release

Initially mentioned in https://github.com/hestiaAI/hestialabs-experiences/issues/150#issuecomment-966635325

[2022-06-14 08:40] valentinoli commented on #150
In light of the progress we've made, I'm going to close this meta-issue in favor of more specific issues.

[2022-06-14 08:40] #150 closed

[2022-06-14 08:42] valentinoli commented on #129
and... that's what we did

[2022-06-14 08:45] valentinoli commented on #102
Closing after consulting with @fquellec

[2022-06-14 08:45] #102 closed

[2022-06-14 08:45] fquellec opened #743 "Replace old vega graphs by d3 ChartViews"

[2022-06-14 08:47] #128 closed

[2022-06-14 08:50] #61 closed

[2022-06-14 08:53] #388 closed

[2022-06-14 08:53] #387 closed

[2022-06-14 08:54] #145 closed

[2022-06-14 08:59] valentinoli commented on #151
Closed after consulting with @fquellec
Mobile experience is not priority since the app is not intended to be used on mobile, for computational reasons and other

[2022-06-14 08:59] #151 closed

[2022-06-14 09:01] #167 closed

[2022-06-14 09:06] #361 closed

[2022-06-14 09:08] fquellec opened #744 "Add Experience level filters (across tabs)"
We want the user to be able to easily filter everything in the experiment (not by tab) based on certain types of data.
For example, only take data tagged from this date to this date.

[2022-06-14 09:08] valentinoli commented on #386
@fquellec we need to re-create this one

[2022-06-14 09:08] #386 closed

[2022-06-14 09:08] valentinoli commented on #386
#744

[2022-06-14 09:21] #501 closed

[2022-06-14 09:22] #353 closed

[2022-06-14 09:22] #362 closed

[2022-06-14 09:22] #378 closed

[2022-06-14 09:23] #364 closed

[2022-06-14 09:24] #379 closed

[2022-06-14 09:25] #360 closed

[2022-06-14 09:26] #347 closed

[2022-06-14 09:26] #380 closed

[2022-06-14 09:27] wilderino opened #745 "The graphics for the AppleTracker experience were empty even though the table was full"

[2022-06-14 09:29] wilderino opened #746 "The graphics for the Apple Tracker Agg experience don't display correctly"

[2022-06-14 09:30] wilderino opened #747 "The data hoarding graph in the TC Agg experience don't display correctly when there is too much data"

[2022-06-14 09:32] valentinoli commented on #359
@alexbfree what is the status of this one?

[2022-06-14 09:34] wilderino opened #748 "The format in VS code for sql does not seem to be the correct one"
When I use LIMIT in sql, VS code gives me an error even though it works on the website.

[2022-06-14 09:34] #356 closed

[2022-06-14 09:35] #367 closed

[2022-06-14 09:37] valentinoli commented on #265
@andreaskundig @pdehaye
What is the status of this one? Can it be closed?

[2022-06-14 09:41] valentinoli commented on #358
We need to add the version numbers of the monorepo experience packages

[2022-06-14 09:47] #346 closed

[2022-06-14 09:48] #370 closed

[2022-06-14 09:48] #491 closed

[2022-06-14 09:50] #354 closed

[2022-06-14 09:50] #276 closed

[2022-06-14 09:52] #381 closed

[2022-06-14 09:52] #345 closed

[2022-06-14 09:54] #288 closed

[2022-06-14 09:54] #382 closed

[2022-06-14 09:55] #332 closed

[2022-06-14 09:55] #335 closed

[2022-06-14 09:56] #350 closed

[2022-06-14 09:57] #372 closed

[2022-06-14 09:58] #349 closed

[2022-06-14 10:09] #383 closed

[2022-06-14 10:12] #407 closed

[2022-06-14 10:15] fquellec commented on #514
I have added a search function in the Twitter overview for targeting criteria, advertiser and targeting value. This allows every interaction described in this issue.

[2022-06-14 10:15] #514 closed, assigned to fquellec

[2022-06-14 10:19] #411 closed

[2022-06-14 10:19] #465 closed

[2022-06-14 10:21] #461 closed, assigned to ffsinger

[2022-06-14 10:21] #460 closed, assigned to ffsinger

[2022-06-14 10:27] fquellec commented on #458
When there is no consent form the following message is displayed before the upload:

When there is a consent form we display the following:

Each bubble or instance can then define a custom data privacy policy in their consent form.

[2022-06-14 10:27] #458 closed

[2022-06-14 10:28] fquellec commented on #412
Not relevant anymore with the bubble server

[2022-06-14 10:28] #412 closed

[2022-06-14 10:30] fquellec commented on #408
Done in https://github.com/hestiaAI/hestialabs-experiences/pull/474
Needs Improvement but part of a bigger issue

[2022-06-14 10:34] #417 closed

[2022-06-14 10:34] #418 closed

[2022-06-14 10:36] #466 closed

[2022-06-14 10:36] fquellec commented on #688
Done

[2022-06-14 10:36] #688 closed

[2022-06-14 10:38] #480 closed

[2022-06-14 10:38] #481 closed

[2022-06-14 10:39] #503 closed

[2022-06-14 10:46] #510 closed

[2022-06-14 10:53] valentinoli commented on #525
1 and 4 is done

[2022-06-14 10:56] #543 closed

[2022-06-14 10:58] fquellec commented on #652
Added an option to unzip only needed files in the manifest

By default True

[2022-06-14 10:58] #652 closed

[2022-06-14 10:59] #687 closed

[2022-06-14 10:59] fquellec commented on #687
Done

[2022-06-14 11:02] fquellec commented on #658
Done

[2022-06-14 11:02] #658 closed

[2022-06-14 11:06] valentinoli commented on #567
![image](https://user-images.githubusercontent.com/23453691/173563407-f4503783-571a-4a16-a7a9-36194ed9782e.png)

[2022-06-14 11:09] #649 closed

[2022-06-14 11:11] #630 closed

[2022-06-14 11:12] valentinoli commented on #630
Done according to @fquellec

[2022-06-14 11:13] #711 closed

[2022-06-14 11:16] valentinoli opened #754 "Change `source-map` to `eval` or similar for development"
todo: change `source-map` to `eval` or similar for development

_Originally posted by @valentinoli in https://github.com/hestiaAI/hestialabs-experiences/issues/698#issuecomment-1136741150_

[2022-06-14 11:16] #698 closed

[2022-06-14 11:17] #720 closed

[2022-06-14 11:20] fquellec commented on #716
Filters on tables should not/cannot be remembered from one tab to another since we are not talking about the same table.
But we should be able to enter general filters that apply to all tabs -> #744

[2022-06-14 11:21] #754 closed

[2022-06-14 11:22] fquellec commented on #715
Interesting feature, could replace https://github.com/hestiaAI/hestialabs-experiences/issues/671

[2022-06-14 11:23] #719 closed

[2022-06-14 11:27] valentinoli commented on #742
@Amustache can you provide more details on what you did so this can be reproduced

[2022-06-14 12:04] fquellec opened #756 "Create Strava experience"

[2022-06-14 12:56] foucault-dumas opened #757 "Twitter experience: explain "App activity""
![image](https://user-images.githubusercontent.com/81250365/173581370-852de737-57db-4790-98be-8bc09ea7536d.png)
Do we know more than the name for the App activity (exlusion/inclusion)? This should be reflected in the interface.

[2022-06-14 13:43] pdehaye commented on #757
(also for lists?)

[2022-06-14 14:15] wilderino opened #758 "Compute entropy (e.g. for OtherCandidates, wifi)"
The entropy is a good measure for "uncertainty". So it can be a good idea to show this value (e.g. for OtherCandidates) to show how uncertain Google is when it makes a decision.

To obtain this value we need to compute $- \sum_{x\in X} p(x) \times$ log $p(x)$.

In the example of OtherCandidates, $p(x)$ will correspond to all the confidences (losers and winner) associated to one of Google guess.

[2022-06-14 14:22] foucault-dumas opened #759 "Demo Bubble and Demo aggregator"
We need a Demo Bubble with

- [ ] Demo participant --> with the ability to (simulate to) share data
- [ ] Demo aggregator --> with aggregable data sets (with meaningful names)

[2022-06-14 14:39] pdehaye opened #760 "Ability to compute new statistics"
We want to compute new statistics on data.

Some can only be computed collectively, some of those statistics can be computed individually (before or after a SQL query).

We need to have a process for this.

Examples:

- [ ] entropy for location history (#758)
- [ ] "green data" around location history (#762
- [ ] an example around Twitter?

[2022-06-14 14:40] pdehaye commented on #758
Thanks for writing this up, @wilderino .

I thought that was an interesting statistic you had computed on Jupyter, which we suspect results from wifi signals AND search AND ??? (purchase data?).

Interestingly, there is also going to be a comparable statistics around wifi signal and intensity, something like computing
(sum e^i(x) * i(x)) / (sum e^i(x))/max(i(x))  (very guessy)

I would be very int

[2022-06-14 16:17] wilderino opened #762 "Compute "green data" statistics (e.g. for location history)"
Here is a list of statistics about the ecological transition that could be interesting to compute (in the case of location history data):

- [ ] The percentage of kilometers made in each mean of transport.
- [ ] The percentage of kilometers made with "green" transportation v.s. with polluting transportation

[2022-06-14 22:57] pdehaye commented on #563
I think there is one, but it is not necessarily in the most obvious place (breaks the pattern)

[2022-06-15 08:05] fquellec commented on #757
I'm not sure I understand the question, 'App activity' is a targeting criteria, it is associated with a targeting value on the right hand graph. So, for example here, you were targeted because you installed Gorillas Grocery and because you made a purchase on that app.

[2022-06-15 09:08] valentinoli opened #763 "Nuxt 3 + Vite"

[2022-06-15 09:53] alexbfree opened #765 "Create a bubble for Reflets.info"
Part of https://github.com/hestiaAI/hestialabs-experiences/discussions/764.

Bubble needs to be password protected. Unlike TL there is no need for separate aggregator and participant log ons. Just a single log in which within it should have:

- Google Individual
- Google Aggregate
- TrackerControl Individual
- TrackerControl Aggregate
- iOS App Activity Individual
- iOS App Activity Aggregate
- Tw

[2022-06-15 09:55] alexbfree commented on #765
Hope i have used an appropriate label; wanted one that captures that this is about deployments/configurations rather than new code. Please change/create a new label if not captured by this label.

[2022-06-15 10:01] alexbfree opened #766 "Set up a Twitter Aggregate Experience"
Within the Reflets.info bubble (#765), please set up a Twitter Aggregate experience.

Initially this can just be a copy of the Twitter individual experience. We will iterate and develop it over coming days/weeks as requirements emerge.

@foucault-dumas if you have any immediate requirements please add them here.

[2022-06-15 10:02] alexbfree opened #767 "Create an abstracted semantic schema for Twitter experiences for Reflets.info"
As part of #764, we want to seize the opportunity to start to move building visualisations of abstracted information rather than source data files. Alex, Hugo and Emmanuel to work together to design a schema for this.

[2022-06-15 10:04] alexbfree opened #768 "Update Twitter individual and agg experiences to use abstracted schema"
Once #767 has been done, a developer(s) will need to figure out how we can integrate the schema into our data pipeline and into the Twitter experiences for Reflets.info so that they separately:

1. support import of data files and storage into the semantic schame
2. visualisations and tables are updated to be showing data abstractions rather than raw data formats.

[2022-06-15 10:07] alexbfree opened #769 "Plan and begin some design work for the Twitter aggregate experience"
Part of #764 .

it is unclear at this stage how the Twitter aggregate experience gets designed.

This ticket is to flag that we need to consciously decide how to design this. It will probably involve stakeholder input from Reflets.info (via @foucault-dumas), but also probably technical/designer thinking from @pdehaye , @fquellec, @alexbfree.

[2022-06-15 11:06] pdehaye commented on #765
Why the choice of a unique bubble for both "sides" @alexbfree ?

[2022-06-15 12:04] pdehaye commented on #767
Mentions only work from discussions to issues, not the other way around. Or maybe it is a directory thing. In any case this one is relevant as well https://github.com/hestiaAI/Argonodes/discussions/58

[2022-06-15 12:21] Amustache commented on #742
I _probably_ had an application already running on port 3000.

Hence, when the Experiences website starts, it tries to bind to port 3000, and fails, so tries to bind to another random free port.

When binding to a port that is not 3000, the Bubble servers cannot bind with the Experiences website, thus not working.

[2022-06-15 19:42] pdehaye commented on #769
Where can we have a look @fquellec at how the individual Twitter experience is built?

[2022-06-15 20:06] valentinoli commented on #748
I don't get an error, can you provide more details?

[2022-06-16 07:07] fquellec commented on #769
The experience is defined here : https://github.com/hestiaAI/hestialabs/tree/master/packages/twitter/src
`blocks.js` defines the content of each tab and `database.js` the creation of the database

[2022-06-16 07:11] fquellec commented on #765
Currently we need a bubble for aggregation and a bubble for the participants. This is something we could change but needs more specification.

[2022-06-16 07:32] Amustache commented on #767
Talking about GitHub functionnalities. Basically, "related to https://github.com/hestiaAI/Argonodes/discussions/58"

[2022-06-16 07:34] wilderino commented on #748
<img width="291" alt="sql_error" src="https://user-images.githubusercontent.com/26854713/174017280-5da510d6-6800-473e-80b2-959a0fe9f461.png">

Here is the error I get.

[2022-06-16 08:17] valentinoli commented on #748
It's an editor issue, @wilderino to be solved locally

[2022-06-16 08:17] #748 closed

[2022-06-16 09:29] fquellec commented on #757
Yes, these are the targeting criteria used by the advertiser to propagate the corresponding ad, so this means that you match at least one criteria, not all! It's actually more complicated than that, there are different types of targeting criteria, some are mandatory and some are not.

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/17878016/174039382-ac077ea3-99b1-4d78

[2022-06-16 12:45] foucault-dumas opened #791 "Tik Tok Exp file name pb"
If one changes the name of the tik tok archive (s)he receives, the [tik tok exp on digipower.hestialabs.org](https://digipower.hestialabs.org/experience/tiktok) does not work :-/

[2022-06-16 12:46] #791 closed

[2022-06-20 10:43] Amustache commented on #767
Okay so there's a bit of context and discussion to refocus here.

## 2022.06.16

Longue discussion avec @emmanuel-hestia.

Sum-up:
- We discussed about the use of Argonodes to create models, its place in our general workflow, and what should be done with/about it.
- Re: https://github.com/hestiaAI/hestialabs-experiences/issues/767, we are thus going to create and update a Twitter model, essenciall

[2022-06-20 10:55] alexbfree commented on #767
Looking forward to catching up about this.

One thing I want to understand, what discussions have you had so far about ensuring the model is abstract / generalised? ie. suitable for data originating from other platforms too, not just Twitter specific. I imagine we have some information model design work to do there? I am not sure if you have already considered this but I think this is where I can

[2022-06-20 11:40] Amustache commented on #767
I believe that this issue is about Twitter, but the tool, methodology, and knowledge can be applied to other platforms as well - by design.

Did I answer your question correctly?

[2022-06-20 12:17] alexbfree commented on #767
Hmm now I am no longer sure we are all on the same page. I thought the design of the schema for the Twitter data (ie this ticket) was to be informed by a top down / abstracting commonalities approach not just bottom up / tightly mirroring the data. I feel like it's not two separate discussions but one; we need to have a general design that works in practice.

And to address Hugo's point, I think t

[2022-06-21 08:35] pdehaye commented on #767
It's complicated, Alex. My approach is always dual bottom-up and top-down (and this is why it can be confusing to everyone else), because it is the most productive of long term value for Hestia.ai.

So you are not wrong with what you are saying on the overall strategy, but the way you say it is too imprecise to be helpful in order to align different teams well together, in my view, *at this stage*

[2022-06-21 08:38] pdehaye commented on #767
"By identifying relative positions of data with traversals, it helps more quickly identify modularity/compositionality in how X should be constructed downstream."

with X = SQL tables

Indeed, through Argonodes we could quickly identify a denormalized structure for the SQL tables. This would be done by tagging relative accessors as corresponding to SQL foreign keys, and, going further, *and as nee

[2022-06-21 08:41] pdehaye commented on #767
"By identifying relative positions of data with traversals, it helps more quickly identify modularity/compositionality in how X should be constructed downstream."

with X = experiences

Indeed, building on the previous comment, we could quickly identify a less normalized structure more appropriate for experiments. This could be done by tagging relative accessors as corresponding to SQL foreign key

[2022-06-21 08:46] pdehaye commented on #767
"By identifying relative positions of data with *relative traversals*, it helps more quickly identify modularity/compositionality in how X should be constructed downstream."

with X = high-level relational semantics (how concepts interrelate).

These high level semantics are structuring of everything else, and **do not** cover all the semantics. Some lower level semantics ("this is a date") can be

[2022-06-21 09:31] emmanuel-hestia commented on #767
As before, I am trying to rephrase to make sure I understand correctly (and, if that is the case, possibly help others understand by providing another wording):
- by processing data samples not from one single actor (e.g. Twitter OR Google but not both), but several at the same time (e.g. both samples from Twitter and samples from Google), we could find structure common to both sample families (e.

[2022-06-21 09:50] emmanuel-hestia commented on #767
As before, I am trying to rephrase to make sure I understand correctly (and, if that is the case, possibly help others understand by providing another wording), and I am not sure I understand but here goes:
- Processing a wide range of samples from various sources, we could uncover a hierarchy of concepts that are fundamental to the very exercise of building a social network or similar application

[2022-06-21 10:41] pdehaye commented on #767
Yes, although the names of SQL columns need not be directly specified from the words that appear in the JSON as keys/accessors (which sometimes change language!).

[2022-06-21 10:47] pdehaye commented on #767
Yes, Argonodes could do this (concrete example: parsing FAIRTIQ data to find the raw Google Location History data essentially untouched for each trip, but with of course each trip indexed at FAIRTIQ-specific accessors). BUT the reality is that we shouldn't be doing it in Argonode, for two reasons:
* it has the wrong architecture, still, I suspect
* others downstream of it are doing this, we should

[2022-06-21 12:01] #739 closed

[2022-06-23 15:26] wilderino opened #806 "Bug in Twitter Targeting criteria (1 advertiser) tab"
With the sample data-sets I obtain :
Error: [vuex] do not mutate vuex store state outside mutation handlers.
    assert webpack:///./node_modules/vuex/dist/vuex.esm.js?:144
    enableStrictMode webpack:///./node_modules/vuex/dist/vuex.esm.js?:902
    VueJS 5
    drawViz webpack:///./components/chart/view/ChartViewSearchSunburst.vue?./node_modules/babel-loader/lib??ref--2-0!./node_modules/vue-loade

[2022-06-24 13:55] Amustache commented on #767
Dropping that here because links can be made https://github.com/hestiaAI/hestialabs-experiences/discussions/578

[2022-06-27 08:41] wilderino opened #808 "Add a way to have parameters given to the experiences by the bubble config"
For example, in the Google Agg experience, the TL building tab is actually the one showing by default but I would like to have a different name for each bubble.

[2022-06-27 09:59] andreaskundig commented on #763
nuxt release is planned midsummer, vuetify in june

https://v3.nuxtjs.org/community/roadmap
https://vuetifyjs.com/en/introduction/roadmap/#in-development

[2022-06-27 13:28] foucault-dumas commented on #766
As a very concrete example, reflets.info would like to study the strategy of Youtube with such an ad: https://twitter.com/YouTube/status/1523973739154657281
What targeting criteria? -> Which target(s)?

[2022-06-27 14:50] foucault-dumas commented on #525
Here (in Twitter) and in every other exp, this overview view should be the entry point of every exploration and give access to the rest of the data, i.e. the "top 10 advertisers" area should give access to a way to explore all advertisers.
I really agree with @alexbfree point 2. when selecting an individual add in the table, the associated data should be displayed in the graphs

[2022-06-28 08:12] valentinoli commented on #806
Actually, IIRC vuex store state mutation outside mutation handlers errors are only reported in development

[2022-06-28 09:11] andreaskundig commented on #808
The format of a config is described in [config/README.md](https://github.com/hestiaAI/hestialabs-experiences/blob/master/config/README.md). We can add new properties here. The config object is accessed by TheDataExperience.vue.

What part of the Google Agg experience needs to access it? I suppose the name you want to change is currently hardcoded. Where is it currently?

[2022-06-30 10:47] wilderino commented on #808
In blocks.ts the TLBuilding block as the title and placeName hardcoded and it would be good to have them defined in the config

[2022-06-30 13:14] foucault-dumas commented on #769
This should take into consideration this new project: https://github.com/hestiaAI/internal-discussions/discussions/4

[2022-06-30 14:13] emmanuel-hestia commented on #769
Hello,

I have been thinking about what information could be useful to participants in a Collective Twitter experience, and how to display it.

Starting from the current experience, I can see a typology of existing displays:
1) Value plots such as timelines or histograms
2) lists of words (e.g. top advertisers, criteria, etc.)
3) Pie diagrams
4) Sunburst
5) word clouds

The obvious idea would be t

[2022-06-30 14:55] foucault-dumas commented on #769
I think this could be a good opportunity to rethink the different tabs of the Twitter experience: now the overview gives an excellent (and interactive)… overview of all the information (except inferred data) I wonder if the others ads-oriented tabs are still relevant (provided that the histograms become stretchable to show data beyond the top 10 advertisers/Type of targeting/targeting criteria)

[2022-07-01 00:34] pdehaye commented on #769
@emmanuel-hestia for better or worse, your suggestion led me to [draw this diagram](https://q.uiver.app/?q=WzAsNyxbMiwyLCJcXHRleHR7Q1NWfSJdLFs1LDEsIlxcY3VwIFxcdGV4dHt2aXN1YWwocyl9Il0sWzMsNSwic3VtKFxcdGV4dHtDU1Z9KSJdLFs2LDQsIlxcY3VwIFxcdGV4dHt2aXN1YWwocyl9Il0sWzAsMywiXFx0ZXh0e1Rob21hc30iXSxbMSwxLCJcXHRleHR7SHVnb30iXSxbMywwLCJcXHRleHR7RnJhbsOnb2lzfSJdLFswLDEsIlxcdGV4dHtGcmFuw6dvaXN9XisiLDFdLFswLDIsI

[2022-07-01 14:09] alexbfree opened #828 "Create the beginnings of an "experiences catalog""
### Context
As a result of https://github.com/hestiaAI/internal-discussions/discussions/19 we decided we want to build functionality to allow bubbles and experience instances to be deployed automatically. We (@andreaskundig @foucault-dumas @alexbfree) realised that an important part of a user being able to automatically create and define a bubble is to be able to select which experiences we want t

[2022-07-01 15:09] alexbfree opened #829 "Create a workflow for an internal Hestia user (Charles) to be able to create new bubbles/experience deployments without developer intervention"
### Context

As a result of https://github.com/hestiaAI/internal-discussions/discussions/19 we decided we want to build functionality to allow bubbles and experience instances to be deployed automatically. We (@andreaskundig @foucault-dumas @alexbfree) realised that a key solution to this is that non-developers (especially customer facing staff) need to be able to pull together experiences and bub

[2022-07-01 15:14] alexbfree commented on #829
@andreaskundig @foucault-dumas please shout if this misses anything we discussed and I will update the above.

[2022-07-01 15:14] alexbfree commented on #828
@andreaskundig @foucault-dumas please shout if this misses anything we discussed and I will update the above.

[2022-07-04 14:03] andreaskundig commented on #829
Has a decision been taken about the domain names?

It would be simpler to host all our stuff either on hestialabs.org or on hestia.ai, even while we keep the possibility to create a site for a client under a completely different domain.

Similarly, it would be much simpler to have bubbles defined as paths in the url rather than prefixes to the domain: hestialabs.org/my-bubble rather than my-bubble

[2022-07-05 08:15] pdehaye commented on #829
I think the second (path rather than subdomain) is good. The only advantage I can spot is more granular access control on cookies, but we are currently building things to nullify that gain.

For the first option, I think it is high time to start treating the digipower/education collective as a client ( digipower.academy ). From there one option would be to have the other collectives have their own

[2022-07-06 09:12] valentinoli commented on #154
I think this is too complicated for now. We can implement this later if we think it simplifies the current arrangement.

[2022-07-06 09:23] #154 closed

[2022-07-06 09:33] #200 closed

[2022-07-07 17:27] valentinoli commented on #756
@foucault-dumas
I would be willing to do it

[2022-07-08 07:08] foucault-dumas commented on #756
FYI, it seems that https://www.bikedataproject.org is trying to do the same but did not manage to deal with Strava files:
![image](https://user-images.githubusercontent.com/81250365/177936665-28c6811a-af95-4ef2-b980-2046aac169c3.png)

[2022-07-09 02:33] pdehaye opened #840 "Partly-fake Uber driver experience"
For the workshop 14.07 (https://github.com/hestiaAI/internal-discussions/issues/33), we need to create a new Uber *driver* experience, separate from the rider experience (different pathways to access data, and different data formats). The main goal is to display a sample data, and let anyone play with it.

This needs:
- [ ] transferring the dataset we have to @wilderino
- [ ] remove the most direc

[2022-07-14 08:53] andreaskundig opened #858 "code moved to subfolder: how to adapt"
The whole project has been moved to a subfolder called *experiences*.
All that should remain at the root is:
- .circleci (continuous integration config)
- .github (dependabot config)
- experiences (the code)
- netlify.toml (deployment config)

After pulling the latest version, you will still have other files/folders at the root that you don't need. Delete them, in particular *node_modules*, which

[2022-07-15 12:50] emmanuel-hestia opened #863 "high-level representation of experiences"
Hello everybody,

I had a serious chat with Paul-Olivier on the higher-level representation of the experiences.

The aim of the entire pipeline is to deliver analysis and graphical representations of a variety of data. The data varies in the sense that it could come from multiple sources, different variants of the same source, span across multiple participants etc. Argonodes provides us with a dyn

[2022-07-15 12:59] andreaskundig commented on #863
I think you're talking about an abstraction layer that doesn't exist yet? I imagine the pipeline would need to be defined in a language that we first need to specify, and then to implement.

[2022-07-15 13:06] andreaskundig commented on #863
We also need to know how this fits into priorities. This is super interesting, and I bet many of us would love to get started on this. What I usually see happening is that out efforts in this direction tend to start and stop, and resume in different incompatible ways.

[2022-07-15 14:16] andreaskundig commented on #863
The configuration file will surely be a JSON, but we need to specify tables and queries and whatever else we need in this JSON, and the notation for that is what I meant by a language.

For the priority, you are right to defer to @pdehaye, but we should also include it in the planning process, which I think means making sure that @alexbfree coordinates this and pushes and clarifies that this is in

[2022-07-15 14:29] pdehaye commented on #863
I think we are all aligned on agreeing to this vision, the tricky bits is how to invest our time wisely moving in this direction.

Many of us would agree that the engineering bottleneck now is with @fquellec , because he can only work 48 hours per day (this sentence obviously said with _bienveillance_, and appreciative of the formidable efforts he puts in).

So let's solve two problems with one st

[2022-07-15 14:42] andreaskundig commented on #863
So in the pipeline described by @emmanuel-hestia, we focus on the first step, the concept explorer, and not on additional things needed to specify the rest of the pipeline. So we already have a notation, and now we are talking about an implementation outside of experiences. What we need is to extract the concept explorer to a separate js module, and then either write a ipython wrapper for it, or w

[2022-07-18 06:13] pdehaye commented on #863
Thank for your input, @fquellec. Your breakdown makes sense, but brings specific response to each.
* for the *NOW* part, I don't think everyone can do it at hestia, in great part because it requires mastery of tools that allow navigating complex files. In addition the focus is on offloading *you*. Please stop doing stuff you think someone else can do. You are mission critical for many things, ask

[2022-07-19 12:14] fquellec opened #866 "FEAT: Accept multipart zips"
A lot of companies send archive in multiple zipped directories, currently we cannot open them:

![Crap](https://user-images.githubusercontent.com/17878016/179747500-a66430be-67b6-441e-bc01-f5a30366d56c.PNG)

Examples can be found in Takeout or Facebook for example.

[2022-07-27 10:05] andreaskundig opened #882 "feat: load config from dist folder (for client)"
We should be able to configure an application by adding a config file to the built application. This would go somewhat like this.
- npm build
- cd dist
- cp /somewhere/config.json .
- python -m http.server

[2022-07-27 10:12] andreaskundig opened #883 "feat: set experience introduction text by loading html from an url (for client)"
It's not clear yet if the client will give us html fragments that can be included as innerHTML or a whole html page that needs to be included as an iframe. It's going to be generated by a cms. Maybe we should be able to deal with both.

[2022-07-27 10:14] andreaskundig opened #884 "Internationalization (for client)"
A client needs the app in french. We will continue to use the same code for our app in english

Needed for a client

- [x] Define a format to store multiligual messages in packaged experiences, for example in a messages.json file that uses the same format as vue-i18n. We could keep it backwards compatible with the current format, but maybe that's not necessary.
- [x] Replace every single text in t

[2022-07-27 12:59] #858 closed

[2022-07-27 13:01] andreaskundig opened #887 "chore: reorganize the project into a top-level monorepo"
in hestialabs-experiences we have this folder structure where package.json defines a npm project
experiences/package.json
packages/package.json
packages/packages/twitter/package.json
packages/packages/google/package.json

twitter and google are in what we call the monorepo. They have common mechanisms to run tests, compile, publish etc defined in packages/package.json. The common mechanism should

[2022-07-27 13:05] andreaskundig commented on #887
The main point of that is to have a structure that allows us to modularize parts of experiences easily, and be able to distribute them separately.

[2022-07-27 13:35] alexbfree commented on #887
thanks for capturing this. removed 'chore' from title as i think it could discourage people from tackling the ticket!

[2022-07-29 07:50] fquellec opened #891 "Create Brown bubble"
Create new participant bubble for the Brown group workshop on August 5th:

- [ ] Choose and hash a password for the bubble
- [ ] Include Twitter, Facebook, Instagram, Apple Tracker, Tracker Control and Google Semantic Location
- [ ] Include bubble in digipower.academy website

Create new aggregator bubble for the Brown group:

- [ ] Choose and hash a password for the bubble
- [ ] Include TrackerCo

[2022-07-29 15:59] pdehaye commented on #891
Please also add TikTok if we have something.
Also the proper name to use is Brown-IFL.

[2022-07-29 21:46] andreaskundig commented on #883
This will be included in #884

[2022-07-29 22:24] andreaskundig opened #896 "[Modularization] Extract TheDataExperience to a module we can export on a CDN (for a client)"
I see two ways of tackling this.

@fquellec tried the optimistic way: adding a script that builds a component to experiences' package.json and then trying to fix all the errors that appear when you run it. This way seems to difficult (branch [feat/packageExperience](https://github.com/hestiaAI/hestialabs-experiences/tree/feat/packageExperience) )

The more careful way is to create a new subproject

[2022-08-05 15:41] fquellec opened #906 "fix: app bar and menu broken on Firefox"
Sometimes the AppBar menu does not appear on Firefox, I have not been able to reproduce the problem but PO has.
There is also a scrolling problem on Firefox when using the side menu, on my laptop I cannot scroll without using the cursor.

[2022-08-09 09:13] valentinoli opened #911 "Automate package versioning and publishing"

[2022-08-10 08:38] wilderino opened #914 "Add graphs to Uber driver experience"
Jessica asked if we could add the graphs from the client Uber experience ('ChartViewOverviewUber.vue') to the Uber driver experience (driver trips and rider trips tabs). Unfortunately, it is not easy with the multitude of formats for Uber driver. You should ask to Jessica for the most recent data-sets.
This should be done in the uberDriver branch.

[2022-08-11 10:30] andreaskundig opened #921 "Make branding for eyeballs and dating privacy optional"
Some experiences (twitter, facebook, tiktok, tinder, her)  have a [collaborator](https://github.com/hestiaAI/hestialabs-experiences/blob/8d5718fbbccba135b98914e3e1bc9b073bac3b04/packages/packages/tinder/src/index.ts#L10) property.

The collaborator logos are displayed very prominently in the menu, and the app bar when you're in the experience.

Clients might not like that, so we need an option in

[2022-08-11 10:34] andreaskundig opened #922 "Decide what part of the footer is optional"
The footer currently has a lot of links to hestia, sitra, migros...

A client might not want any of this. Do we make all of it configurable ? It could be just one field in the translation file that allows html. Do we want to have a mandatory link to hestia.ai or hestialabs.org ?

[2022-08-11 10:37] andreaskundig opened #923 "Make mapbox token configurable"
We have a hard coded Mapbox token in kepler, and apparently several in experience map configurations.

Clients will need to be able to set their own token in the configuration

Experiences use a token for loading the icon of a map style, for example [here](https://github.com/hestiaAI/hestialabs-experiences/blob/8d5718fbbccba135b98914e3e1bc9b073bac3b04/packages/packages/google/src/kepler/kepler_con

[2022-08-11 10:38] #882 closed

[2022-08-11 10:39] andreaskundig commented on #884
Reopening this. We found something that was not translated yet. We should at least translate everything that we need for UFC

[2022-08-11 10:41] andreaskundig opened #924 "Parametrize colors"
Valentin has added the possibility to configure the theme colors. We need to check with the client that this is enough.

[2022-08-11 13:06] andreaskundig commented on #923
It turns out the icon url is never called when I run the application, and @wilderino thinks he remembers having no problems when he removed it.

[2022-08-11 16:02] andreaskundig opened #925 "Set up password free bubble to prepare for a newspaper article"
Replace the showroom bubble, or create a new bubble with another name (showroom demo?).
Prevent uploads, but show the consent form tab.
This should be on digipower.academy
ask @foucault-dumas for details

[2022-08-15 08:31] alexbfree commented on #922
I suspect we may need to keep at least some credit to migros and/or sitra for original dev funding, see what @pdehaye says

[2022-08-15 09:29] andreaskundig opened #928 "Replace import.vue with TheDataExperience.vue"
TheDataExperience.vue allows the user to download the visualization data as a zip. The zip can be imported by import.vue.

Import.vue used to look almost exactly like TheDataExperience.vue, but the development didn't keep up. To avoid having to catch up, and avoid the duplication of work, we need TheDataExperience.vue to be able to receive the data it exports, and display it in its visualizations.

[2022-08-15 09:38] andreaskundig opened #929 "Put all text in translation files (refactoring)"
In some places the application still allows text to be defined without a locale as a fallback (for example for the experience title). In other places this fallback doesn't work (for example the experience dataPortalHtml)

This line in [TheDataExperience.vue](https://github.com/hestiaAI/hestialabs-experiences/blob/ea3ea7ac11d89206e079d682c077b9808552635b/experiences/components/TheDataExperience.vue

[2022-08-15 13:21] #923 closed

[2022-08-15 13:36] alexbfree opened #932 "internationalisation/globalisation issues: testing of deployment-example-experiences.netlify.app"
I am doing some testing on the deployment of code for a client that Andreas put at deployment-example-experiences.netlify.app. I will add places where I have found text in English or other issues by editing this ticket. Will add a comment when done.

[2022-08-15 13:47] alexbfree commented on #932
Issues found in Uber experience:

Within "Vue d'ensemble" all text within visualisations is showing in English. Specifically:

- [ ] Select data depending on the currency
- [ ] currencies in dropdown? Or are they same in all languages?
- [ ] Cumulative expenses
- [ ] Current filter: (x4)
- [ ] Total price
- [ ] Service used
- [ ] Day of week
- [ ] Begin trip address
- [ ] Values - Mon/Tue/Wed/Thur

[2022-08-15 13:50] alexbfree commented on #932
For Twitter experience.

- [ ] demo video is in English

[2022-08-15 13:59] andreaskundig opened #933 "Translate kepler to french"

[2022-08-15 14:08] alexbfree commented on #932
see also related issue https://github.com/hestiaAI/hestialabs-experiences/issues/884

[2022-08-15 15:43] valentinoli commented on #932
"Copyright" was left untouched on purpose, since it is commonly used in French

[2022-08-15 20:01] valentinoli opened #934 "Sort experience groups in the experience menu so that the group without a collaborator always appears at the top"

[2022-08-16 07:10] pdehaye commented on #932
For Tinder:
- [ ] for the "Informations utilisateur.trice" all the field names are in English
- [ ] for "Likes and passes", there is a "swipes" and a "count" that appear
- [ ] in "comparaison" the selector only has choices in English
- [ ] for the correlation tab, the whole graph is in English

[2022-08-16 07:23] pdehaye commented on #896
What does "[to  build] a component to experiences' package.json" mean. Is it a "web component" being talked about?

[2022-08-16 11:23] alexbfree commented on #932
On all Filters:

- [ ] All text within popup filter messages and buttons, controls, etc. are in English.

[2022-08-16 11:26] alexbfree opened #935 "Trying to filter a column with too many disparate and long values can hang the UI."
In my case, I was on the Instagram experience, the Timeline tab, where 9251 rows are in the table. I clicked Filter icon on Description column, and the app hung. Presumably as it tries to generate a ridiculous large filter popup on values that will be all different anyway!

It did eventually recover (after i clicked Wait for page on the resulting crash popup and waited ~ 2 mins)

[2022-08-16 11:46] alexbfree commented on #932
On Netflix experience:

On Notifications tab:

- [ ] Settings/Filters (title of popup)
- [ ] Interacted with (2nd dropdown in popup) (Secondary non-language issues here - values are shown as 1 and 0 instead of Yes/No;Oui/Non)
- [ ] Device Model (3rd dropdown in popup)
- [ ] Reset, Close, save (buttons in popup)

[2022-08-16 11:51] alexbfree commented on #932
Everywhere:

- [ ] 'sélectionnez une plage de temps pour effectuer un zoom'
needs capital letter at start (and possibly a bit of top padding, it is quite close to graph above)

[2022-08-16 13:20] alexbfree commented on #932
Google Experience:

Endroits visités:

- [ ] When you click on a point on the map, title and all field labels are in English
- [ ] As mentioned above, general mapbox UI (inc country/city names etc) is in English. There is a language selector but it doesn't seem to include French, and doesn't seem to update the map, and bottom of dropdown is inaccessible (off bottom of map).
- [ ] column headings i

[2022-08-16 13:51] alexbfree opened #936 "Issue with null value being detected and displayed as if real entry in Google Experience"
In Google Experience, in the single place tab,

a blank entry was detected, placed at top of list as 'null', and it tried to render it, resulting in:

![Screenshot 2022-08-16 at 14 49 14](https://user-images.githubusercontent.com/1473244/184896364-2ccaff95-5fbf-480b-8c05-b635d499fc61.png)

(screenshot is from french version / AK deployment)

[2022-08-16 13:56] alexbfree opened #937 "For a single place in Google experience, need to break hours into days, weeks, months, etc"
For example

![Screenshot 2022-08-16 at 14 52 43](https://user-images.githubusercontent.com/1473244/184896883-6a2eed00-9e2e-4639-84f1-289ea9f182d6.png)

1146h 49m 54s

would be more useful to display

1 month 16 days 16 hours

(probably only need the three most significant (in a mathematical sense) units)

millennia - centuries - decades - years - months - weeks - days - hours - minutes - millisec

[2022-08-16 14:03] alexbfree commented on #932
LinkedIn Experience:

Ciblage Publicitaire:

- [ ] label at start of each row, currently in English

Connections:

- [ ] Current filter (x4 graphs)
- [ ] Table column headings

General

- [ ] Timeline (tab name)

Timeline tab

- [ ] Timeline (title)
- [ ] See all the dated events in your files, corresponding to data that has been collected on you at or concerning a specific date.
- [ ] Files (labe

[2022-08-16 14:09] alexbfree commented on #932
Facebook experience:

Interactions tab:

- [ ] column headings
- [ ] values in 'action' column
- [ ] (also note a non-language error here, timestamp is displayed raw/unformatted)

Interets supposes

- [ ] name (column title)
- [ ] the values themselves? (not sure if viable to translate)

General

- [ ] Timeline (tab name)
- [ ] Location observations (tab name)

Timeline tab

- [ ] Timeline (title)

[2022-08-16 14:11] alexbfree commented on #932
Issues in generic experience:

- [ ] Here's a summary of what we have found
- [ ] Analysed 3 files (522.02 kB) :
- [ ] 3 documents (maybe not translated, can't tell)

Observations de localisation

- [ ] All files are used (hover text on icon top right)

[2022-08-16 14:14] alexbfree commented on #932
@andreaskundig @valentinoli

All experiences now tested. this ticket can be worked on. Also raised along the way:

- #935
- #936
- #937
-

[2022-08-18 10:51] pdehaye opened #938 "Waze"
Here is a dataset obtained from Waze ( https://www.waze.com/fr/_user/login/multidevice/initiation?redirect=%2Ffr%2Faccount )

https://drive.infomaniak.com/app/drive/193995/files/176450  (access granted to @alexbfree and @emmanuel-hestia )

[2022-08-24 10:16] andreaskundig opened #942 "Allow disabling bubble login (ask password only for upload)"
First needed for the showroom (demo-participant) bubble.

[2022-08-29 08:29] foucault-dumas opened #951 "New course ( =bubble for now 😓) on digipower.academy"
New course:

Title: Socio-computational approaches to digital policy
Description: Use concepts and methods from the social sciences and humanities (SSH) to assess contemporary technological systems and the resulting socio-technical and political issues when used in the private and public spheres.

Experiences: uber, uber driver, tinder, her, twitter (possible to add others later after discussing w

[2022-08-29 08:31] foucault-dumas commented on #951
Concerning the "( =bubble for now 😓)", please read https://github.com/hestiaAI/clients/issues/3

[2022-08-29 08:36] foucault-dumas commented on #951
@fquellec si tu push that, maybe you can also make this ultra small validated change to the homepage: https://github.com/hestiaAI/clients/issues/7

[2022-08-29 09:41] fquellec commented on #951
Done

[2022-08-29 09:41] #951 closed

[2022-08-29 13:01] fquellec opened #954 "Show only a subset of bubbles on the home page"
Add an attribute in the website configuration to distinguish between bubbles that should appear on the homepage (the courses) and bubbles that should appear only in the menu.

This is a temporary solution until we implement the "Course" concept.

[2022-08-31 12:51] #954 closed

[2022-09-06 08:42] andreaskundig opened #967 "Make "contact us" configurable in the app bar"
A client will not want this to redirect ot hestia.ai. Set the url in the config, don't display it if it's not set

A first impression from a glance at the code: why can't *contact us* just be a link like the others?
[code]

[2022-09-06 12:22] andreaskundig opened #968 "Sign public keys served by the bubble server"
This serves to mitigate a security risk when an attacker gains control of bubble server.

Every file sent to bubble server, but it's encrypted with the destination bubble's public key, which is downloaded from the server.

An attacker could send his own public key, and could then decrypt any file encrypted with it.

If the public key was signed with a certificate (or something of the sort) that we

[2022-09-07 10:31] #921 closed

[2022-09-07 10:32] #967 closed

[2022-09-09 17:01] andreaskundig commented on #932
﻿I only had time to double-check facebook, twitter, instagram, twitter
﻿
- [ ] ﻿ChartViewTopRow.vue, settings icon -> Afficher "Others". Should we localize [key](https://github.com/hestiaAI/hestialabs-experiences/blob/a230afbacf798120d32c0e2af52921463ad52a14/experiences/components/chart/view/ChartViewTopRow.vue#L218) "Others"?
- [ ] Json explorer's [formatObject](https://github.com/hestiaAI/hestia

[2022-09-14 13:15] #942 closed

[2022-09-15 08:40] valentinoli opened #985 "Move data samples from `experiences` to `packages`"
https://webpack.js.org/guides/asset-modules/

See examples of how we use asset modules for image files, SQL and Vega files:
https://github.com/hestiaAI/hestialabs-experiences/blob/ebe00dd62cd6f3453d7ce68d4dc418e313a17c83/packages/webpack.config.js#L47-L55

For data samples, you will want to emit them to a separate file and just export the URL with `asset-resource`

Say you have the data samples in

[2022-09-16 09:16] fquellec commented on #766
For the individual experience the Twitter data is stored in this DB:
![image](https://user-images.githubusercontent.com/17878016/190602969-811f3328-aa89-423e-abb4-f187f4622530.png)

Configured [here](https://github.com/hestiaAI/hestialabs-experiences/blob/master/packages/packages/twitter/src/database.ts).

[2022-09-18 19:02] pidouxina commented on #766
Maybe this issue could be used https://github.com/hestiaAI/private-stories/issues/44 for an aggregated experience

[2022-09-19 06:06] pdehaye commented on #766
The above would be good.

Another possibility (maybe easier to start) is to have (per participant) tuples of tweet-targeting criteria-targeting value.

[2022-09-19 08:59] pidouxina commented on #766
Because this implies using the twitter username (sensitive), please give pseudonyms to participants.

The way I see a possible result from an aggregated analysis with conversation topics would a network analysis, show how many users are linked according to the conversation topics, then show a bigger link with a bigger quantity of participants, this could show important topics linking people and an

[2022-09-19 09:12] pidouxina commented on #766
Another idea: to show the centrality of some advertisers and the small players placing ads according to the number of ads and number of users that were targeted
For that you can create a network with the top 10 advertisers, the Look-alike Advertisers, Number of ads over time, gender and age of users

[2022-09-20 19:47] valentinoli opened #997 "UnitFilterableTable updates Vuex store with postprocessed data"
`UnitFilterableTable` receives postprocessed data from a parent chart view component.

[2022-09-20 20:22] valentinoli commented on #932
[ ] - [ChartViewSankey.vue](https://github.com/hestiaAI/hestialabs-experiences/blob/f68b10ce2557adf85de1fe9cbff73ccae9543b0c/experiences/components/chart/view/ChartViewSankey.vue#L237-L241)

[2022-09-21 11:05] valentinoli commented on #997
Relevant code snippets (might also post a diagram later)

https://github.com/hestiaAI/hestialabs-experiences/blob/8dab76e2b291570a54d45af99b74ed1f1623a94e/experiences/components/unit/UnitQuery.vue#L230-L241

https://github.com/hestiaAI/hestialabs-experiences/blob/8dab76e2b291570a54d45af99b74ed1f1623a94e/experiences/components/unit/filterable-table/UnitFilterableTable.vue#L203-L220

https://github.

[2022-09-22 07:18] #883 closed

[2022-09-22 08:10] #759 closed

[2022-09-22 08:10] #925 closed

[2022-09-22 08:10] #891 closed

[2022-09-22 08:22] valentinoli commented on #935
We need have a way to configure which columns are filterable

[2022-09-22 10:05] valentinoli opened #1003 "Write a Node program that runs input files through our pipeline"
This allows us to re-use our pipelines and run them separately, in Jupyter Notebooks, for instance.

[2022-09-22 23:05] pdehaye commented on #1003
This solely concerns the pipelines, not the visualizations?

[2022-09-23 15:15] valentinoli commented on #1003
Yes.

[2022-09-24 01:11] pdehaye opened #1006 "Create a new tab on Twitter for Lookalike Audience navigation specifically"
I can imagine different forms of this at individual level:

* like with Uber destinations, a bipartite graph showing pairs of advertisers and Lookalike criteria
* like with the Google Maps "One Place" tab, sort of produce a localized graph that travels x times from a given entity in the bipartite graph, maybe conditioned on being visible a certain number of times.

This should produce something ni

[2022-09-26 08:23] alexbfree commented on #1003
originally comes from @andreaskundig' idea. He is currently working on first part of this, using file manager from Node.

[2022-09-26 08:47] valentinoli commented on #914
@fquellec is this done?

[2022-09-26 08:49] alexbfree commented on #1006
need more info. waiting until francois is back with dev team so we can identify what we need to ask bizdev

[2022-09-26 08:50] alexbfree commented on #985
@andreaskundig will review this as part of modularisation

[2022-09-26 08:53] alexbfree commented on #938
@pdehaye please clarify what you are asking dev / emmanuel / me to do?

[2022-09-26 08:57] alexbfree commented on #933
comment from standup: we told UFC we won't do this, but we might do it in future

[2022-09-26 08:58] alexbfree commented on #933
@andreaskundig comment: two things

1. a mechanism to add a kepler translation to our website (more important)
2. do the actual translation

[2022-09-26 09:00] alexbfree commented on #922
Need to ask UFC - @pdehaye

[2022-09-26 09:06] alexbfree commented on #866
@fquellec we think this can move to backlog - please update ticket if anything has changed

[2022-09-26 09:08] alexbfree commented on #829
@andreaskundig notes this was put on hold.

[2022-09-26 11:24] #914 closed

[2022-09-26 12:05] mvidonne opened #1007 "Create a new tab on Twitter for Gender navigation specifically"
For ads with "targetingType" : "Gender",  I would like
for
1 "targetingValue" : "Men"
2 "targetingValue" : "women"
count how many are targeting me through Gender (M/W) and  percentage of all ads
what were the criteria?
by keywords, interest, Follower look-alikes, Interest and conversation topics
ex
"targetingValue" : "Men"    --> "targetingType" : "Interests" "targetingValue" : "Leadership"   x ti

[2022-09-26 12:06] mvidonne commented on #1007
@Shalf any comment?

[2022-09-26 13:40] #1007 closed

[2022-09-26 13:41] pdehaye commented on #1007
Dev resources are previous and should be allocated according to a structured process.

[2022-09-26 15:32] Shalf opened #1008 "Facebook experience - Thomas Huchon: missing files"
TH just tested the participant experience with a fresh FB dataset.
**His first course with student with this experience is next Monday Oct. 4th. I need to come back to him this Wed. Sept.28th**

Do those error messages come from:
- his dataset being too "poor" (i.e. he didn't interact with FB enough), or
- FB modified the structure / names of data files?
- None of the above ^^

<img width="909" al

[2022-09-26 16:58] Shalf commented on #1007
Am a bit puzzled here. There is a momentum on Twitter with specific targeting (ads, semi-automated moderation, coordinated raids by masculinists) issues at women.

Shouldn't that kind of enhancement proposal be reviewed by devs, and for instance in that case, put into "backlog" at least, instead of closing and asserting (falsely imho) this is not even a topic?
I get the "not urgent". And this coul

[2022-09-26 20:15] valentinoli commented on #929
We need to figure out the priority of this before committing to it. This involves creating a "messages" file for every data experience we have that has not been localized.

[2022-09-27 02:32] pdehaye commented on #922
We don't name clients on the public repos.

[2022-09-27 02:53] fquellec opened #1010 "Limit the number of nodes displayed in Tracker Control Aggregated experience"
In the trackerControlGraph block, we display a network graph of all the participants' TC data, this network graph is overloaded with nodes when more than 3 users share their data. We want to limit the number of nodes displayed here, several techniques are possible but time is a constraint. The construction of the graph takes place [here](https://github.com/hestiaAI/hestialabs-experiences/blob/mast

[2022-09-27 08:15] alexbfree commented on #929
The general question we want to ask bizdev is: once we have finished meeting translation requirements for UFC, what is the priority for translating rest of our experiences, do we want to spend time on that?

[2022-09-27 08:19] alexbfree commented on #1008
@Shalf can you ask him to send us a directory listing of what files and subfolders are in his download? so we can get a clue whether he has missing files?

[2022-09-27 08:23] alexbfree commented on #1008
(as background, these files show what our code looks for: https://github.com/hestiaAI/data-catalog/tree/main/entity-specific/Social/Facebook/models/ShEx)

[2022-09-27 08:25] alexbfree commented on #1008
Also this file shows which files each tab looks for https://github.com/hestiaAI/hestialabs-experiences/blob/8ad07d87692814be34fb2444e3f938bc65882e56/packages/packages/facebook/src/index.ts#L16-L26

[2022-09-27 08:44] alexbfree commented on #932
For testing:
- [ ] deploy to test site
- [ ] test English.
- [ ] switch language on test site
- [ ] test French

[2022-09-27 08:45] alexbfree commented on #932
@valentinoli to deploy, @alexbfree to test

[2022-09-27 08:47] alexbfree opened #1011 "discuss issue about slow Twitter aggregate experience - dev have no obvious solution"

[2022-09-27 08:48] Shalf commented on #1011
Cf. https://kdrive.infomaniak.com/app/drive/193995/redirect/192440

[2022-09-27 08:48] alexbfree commented on #1011
@pdehaye @fquellec can you share some sample data so we can reproduce and investigate the problem?

[2022-09-27 08:49] alexbfree commented on #1011
standup:
@andreaskundig is going to add some notes of suggestions

[2022-09-27 08:51] Shalf commented on #1011
Video of our trouble shooting this morning ift hat helps not doing it twice:
https://kdrive.infomaniak.com/app/drive/193995/redirect/192488

[2022-09-27 08:53] Shalf commented on #1011
Biz-facing milestones:
- Brown at 7pm CEST today (1pm EDT)
- TH & JP at Sc Po next Monday (Jessica had to adapt her course yesterday because of this live failure)

[2022-09-27 09:11] Shalf commented on #1008
Asked, thanks.

[2022-09-27 09:24] Shalf commented on #1008
@alexbfree He agreed to send me his .zip by email
What is our current protocol to share properly among us sensitive data we receive (was tempted to drag n drop here as soon as I receive it, but probably not the smartest thing. Receiving by email neither, but too late for that part. Will delete email as soon as shared with you)?

[2022-09-27 09:40] valentinoli commented on #932
@alexbfree
Ready for testing.
Deployed on https://test.hestialabs.org

[2022-09-27 10:56] pdehaye commented on #1007
I didn't say it was not a topic. It is. And yes it could be important.

I commented on the process, which certainly is not that @mvidonne submits an issue and then draws you in this.

[2022-09-27 11:52] Shalf commented on #1007
So that should have been a "discussion" gituub-wise, and not an "issue", and should we transform it into one?

MP and did had a short coffee-break prep-talk about this before she posted, so on my side, it was OK and fekt organic regarding process.

Broader scope:
Where on Hestia's github (and is github the right tool, providing webhooks and sending issues to devs is taken care of) should biz peopl

[2022-09-27 11:53] Shalf commented on #1007
Yes, transforming after "broader scope" in its own discussion 😏

[2022-09-27 12:02] Shalf commented on #1007
Back on topic, why I was asked to contribute here:

My wife and friends are considering starting a data collective re: twitter moderation/censure on women (with or without PDIO); I'd contribute, and LQDN's lawyer Alexis Fitzjean Ó Cobhthaigh would too, once the Technopolice collective "plainte collective" on vidéosurveillance is on the right track (filled in yesterday).

Hence my involvement.

[2022-09-27 13:21] valentinoli commented on #1010
I used [ngraph](https://github.com/anvaka/ngraph.centrality#degree-centrality)'s implementation of **degree in-centrality**

[2022-09-28 03:19] pdehaye commented on #1011
Thank you Andreas. It did work for our workshop.
Am not sure how much this will actually help though as, as I understand it, the Twitter data is time limited.

[2022-09-28 03:35] pdehaye commented on #1007
On the clients github. And this might get promoted to the main board and given visibility to dev when deemed relevant by bizdev - and only then.

[2022-09-28 08:20] valentinoli commented on #1003
Working on the Node script today

[2022-09-28 08:31] andreaskundig commented on #1011
- @alexbfree will create a ticket for a nice profiler feature
- meanwhile @valentinoli profiles manually with console.time
- @andreaskundig works on advertising overview for last month

[2022-09-28 08:35] alexbfree opened #1013 "Profiling feature"
To support investigations of performance issues such as #1011 we should add generic profiling support to our experiences codebase so that timing profiling can be turned on or off any time.

[2022-09-28 08:37] alexbfree commented on #1013
(profiling info is not needed by end user, could be just into the console, maybe use `console.time` )

[2022-09-28 08:39] andreaskundig commented on #997
We disabled sharing postprocessed data. We need a new way to filter the data before sharing.

[2022-09-28 08:40] andreaskundig commented on #997
@valentinoli will create a diagram about this

[2022-09-28 08:56] andreaskundig commented on #1010
To discuss with @fquellec

[2022-09-28 08:59] andreaskundig commented on #906
seems to be done. Can you confirm, @fquellec ? And then close the issue.

[2022-09-28 09:25] pdehaye commented on #1010
One thing we observed is that we could remove the edges with "unknown" as a source beforehand.

Also, this graph would actually also be helpful at the individual level.

[2022-09-28 09:58] alexbfree commented on #932
@andreaskundig @valentinoli can you provide any further information on how to test

- https://github.com/hestiaAI/hestialabs-experiences/issues/932#issuecomment-1242229237
- https://github.com/hestiaAI/hestialabs-experiences/issues/932#issuecomment-1252870465

[2022-09-28 10:01] alexbfree commented on #932
Phew, here goes:

Testing checklist. -- French

## Uber

- [ ] Select data depending on the currency
- [ ] Cumulative expenses
- [ ] Current filter: (x4)
- [ ] Total price
- [ ] Service used
- [ ] Day of week
- [ ] Begin trip address
- [ ] Values - Mon/Tue/Wed/Thur/Fri/Sat/Sun
- [ ] All Column Headings of Table
- [ ] General Information (in right panel)
- [ ] Orders (in right panel)
- [ ] Speed (i

[2022-09-28 11:02] valentinoli commented on #1011
~ Twitter archives profiling feedback ~
* using the larger twitter sample (twitter.zip)
* 1 participant sharing everything

**Participant bubble**

![Image](https://user-images.githubusercontent.com/23453691/192762452-d0f8cd15-bab1-4e07-a7b8-edae722b50e2.png)

**Aggregator bubble**

![Image](https://user-images.githubusercontent.com/23453691/192762495-b3ea92a8-f037-42dc-b430-b619a23c076f.png)

- U

[2022-09-28 11:06] valentinoli commented on #1011
From @alexbfree

ok so for participant side:

0.3 secs to init the file manager
0.06 secs to create the DB
15 secs to populate the DB
rest are just totals i assume

and for agg side:
0.6 seconds to init the file manager
0.015 secs to create the DB
21 seconds to populate the DB

~0.20 sec to fetch file
~0.84 sec to decrypt

[2022-09-28 12:39] valentinoli commented on #1011
Here is my (failed) attempt to implement transactions

[code]

[2022-09-28 13:22] valentinoli commented on #1010
Yes, but I noticed it was actually not being done right, we need to fix that. The "unknown" node is still present in the graph

[2022-09-28 13:54] alexbfree commented on #932
# Failed Tests

## French

### Uber

- [ ] All Column Headings of Table -> Distance column is still in English

[2022-09-28 14:11] alexbfree opened #1016 "sql-wasm.wasm fails to load in Chrome browsers"
as deployed at

https://test.hestialabs.org/experience/twitter#load-data

When you try and load the sample file

You get
![Screenshot 2022-09-28 at 15 03 07](https://user-images.githubusercontent.com/1473244/192801384-8377a57e-c86b-4419-b567-df175f600624.png)

This happens on:

- chrome/windows
- brave/macos
- safari/macos

This does not happen on:

- firefox/windows

[2022-09-28 14:24] andreaskundig commented on #1016
curl fails
[code]

but this curl command works. Presumably we need to specify some header for wasm in the netlify.toml redirections
[code]

[2022-09-28 14:31] andreaskundig commented on #1016
https://web.dev/loading-wasm/

[2022-09-29 06:39] Shalf commented on #1007
Request to move this to "clients" to be quietly and privately upcycled there please.

[2022-09-29 08:13] valentinoli commented on #935
Leaving in "Assigned" for now with a low priority

[2022-09-29 08:14] valentinoli commented on #937
Leaving in "Assigned" for now with a low priority

[2022-09-29 08:14] valentinoli commented on #936
Leaving in "Assigned" for now with a low priority

[2022-09-29 08:15] valentinoli commented on #1016
Assigned to @andreaskundig

[2022-09-29 08:21] valentinoli commented on #1010
@pdehaye is this still high priority?
Urgent? High?

[2022-09-29 08:24] valentinoli commented on #1011
We need to investigate this further

[2022-09-29 11:32] alexbfree commented on #1016
On test.hestialabs.org this is happening and blocking use of Twitter, Instagram and Tinder experiences so far. Not Uber or LinkedIn.

[2022-09-29 12:08] pdehaye commented on #1010
I think so. I think the plan is for TH to use it in his course.

[2022-09-29 12:52] andreaskundig commented on #1016
I redeployed a new version and the problem is gone. I have no idea why it didn't work before.

[2022-09-29 14:31] andreaskundig commented on #1016
Uber and Linkedin probably don't use the sql pipeline.

[2022-09-29 15:42] andreaskundig commented on #1016
On digipower.academy, where it works in chrome, the file doesn't give a 404
[code]

[2022-09-29 16:08] alexbfree commented on #1016
Confirmed, it works now. Thanks @andreaskundig. Closing.

[2022-09-29 16:51] andreaskundig commented on #1016
# The wasm file is missing!

This file is present in the build deployed at digipower.academy, but not in the more recent builds we did on netlify-test

    experiences/dist/_nuxt/node_modules/sql.js/dist/sql-wasm.020d507.wasm

I parked the most recent build at netlify-test-broken. You can [see ](https://github.com/hestiaAI/hestialabs-experiences/tree/netlify-test-broken/experiences/dist/_nuxt) tha

[2022-09-29 17:46] andreaskundig commented on #1016
fixed in ef11854

[2022-09-30 08:20] HaixinShi commented on #1010
@valentinoli : it is not clear how to reduce the graph. It is a hard problem.  Valentinoli will research the possibility of a solution based on randomly sampling.

[2022-09-30 08:38] HaixinShi commented on #1011
Ready for biz-dev testing. @andreaskundig has built overview of last month to reduce the amount of data.

[2022-09-30 08:42] HaixinShi commented on #1016
@alexbfree will test and close it

[2022-09-30 13:21] alexbfree commented on #1016
Confirmed fixed. Thanks.

[2022-09-30 13:21] #1016 closed

[2022-09-30 17:25] Shalf commented on #1011
Advertising overview (1 month) works and is pretty cool.
Only had 2 datasets at hand, and having a decent RAM, didn't see such a visible difference for computing time, but sure it'll help TH on Monday.

[2022-10-03 08:19] alexbfree commented on #1011
Based on the positive test result I would suggest we put this back to New, for discussion between dev+bizdev, to see if there is more to do here on general performance improvement or whether we just close for now.

[2022-10-03 08:21] mvidonne commented on #1007
Another perspective for all Horizon Europe grants:
MANDATORY: explaining how the gender dimension relates to the content of the planned research and innovation activities

[2022-10-03 08:51] fquellec opened #1028 "[BUG] Google kepler maps are broken, switching to default config instead of custom one"

[2022-10-03 09:37] alexbfree commented on #766
for this one we need both

- clarity on which precise requirements should be specified and developed
- decisions on priority/scope/goals.

[2022-10-03 09:38] alexbfree commented on #933
given not needed for UFC, we need to know priority for the two requirements identified by andreas in previous comment. Maybe this needs to split in two. Maybe it needs to be closed, or put on backlog on hold.

[2022-10-03 09:44] alexbfree commented on #768
this is an idea (which emerged from prior bizdev+dev discussions around reflets.info and using it as opportunity to move towards semantically abstracted schema)

needs decisions as to what we want to do, and requirements as to what should be taken forward by dev (design work? feasibility? full blown building?)

[2022-10-03 09:46] alexbfree commented on #765
we are not sure if there is still something to do here. Please close (which will move it to done) if nothing to do, or clarify requirements if there are more requirements.

[2022-10-03 10:13] alexbfree commented on #938
What is the Ask to dev?

[2022-10-03 10:13] alexbfree commented on #938
What is the Ask to dev?

[2022-10-03 10:13] alexbfree commented on #922
Need a clear statement of what should be kept + removed on what deployments.

[2022-10-03 10:13] #1028 closed

[2022-10-03 10:14] alexbfree commented on #863
This is old - pass back to Bizdev to review and decide if there is a current Ask for dev.

[2022-10-03 10:20] alexbfree commented on #829
It is unclear whether automated bubble creation is still a requirement or whether just having a good github request template is sufficient.

Back to bizdev for that decision.

[2022-10-03 10:30] foucault-dumas opened #1030 "Feature request - Change the header of Digipower.Academy"
Change the header of the digipower.academy website for it to look like that (with the good font and the good purple):
![Image](https://user-images.githubusercontent.com/81250365/193554889-024f55cb-0768-42cb-a2d5-cc67ded77bc2.png)

Move Tim Berners-Lee's quote in the footer, under "The Digipower.academy has emerged out of projects initiated separately by [SITRA ](https://www.sitra.fi/en/projects/di

[2022-10-03 17:17] andreaskundig opened #1033 "import.vue is broken"
To reproduce it, run the twitter experience in showroom, download the zip from the share your data tab, go to /import and upload the zip

[2022-10-03 20:10] valentinoli commented on #1010
@fquellec
Is having directed links (with arrows) a desired feature? I know how to do it, because I have done it before in another project, and could reuse the code.

[2022-10-04 07:25] pdehaye commented on #922
I don't know, this will be driven by client(s), probably very last minute unfortunately as dependent on their schedule and readiness. Tagging @andreaskundig so he can flag it early too.

[2022-10-04 07:27] pdehaye commented on #938
There is none at the moment.

The Waze data only goes back two months for the GPS.

[2022-10-04 07:34] pdehaye commented on #1011
Transactions still seem like a worthwhile idea, no?

For the month-old overview, thank you, that seems to do the trick. However note, and this is just a remark, that it introduces new complexities: now people have two options of sharing the same data, just scoped differently, and they can pool it into different pools (month old, forever). I think what would make more sense is to pool into one, and

[2022-10-04 08:05] alexbfree commented on #985
@fquellec observed this is a prereq for modularisation

[2022-10-04 08:14] fquellec commented on #1010
It would be great to enable directed links, I think that was Hugo's expectation but he didn't have the time to do it!

[2022-10-04 08:16] alexbfree commented on #1010
@valentinoli to discuss further with @pdehaye / @fquellec to look at ways of improving the graph, e.g. using triangularisation to have different nodes on different sides, different background colours for areas.

[2022-10-04 08:17] alexbfree commented on #1010
@pdehaye notes we should not spend too much time on approach limited by past choices. @valentinoli says this may be a separate aspect - filtering vs simplification. @fquellec agrees.

[2022-10-04 08:19] alexbfree commented on #1003
@valentinoli reports this is progressing well

[2022-10-04 08:22] alexbfree commented on #1003
@pdehaye highlevel observation: we should work more on improving research pipelines than educational aspect for now.

[2022-10-04 08:23] alexbfree commented on #1003
@alexbfree could help with this if useful

[2022-10-04 08:24] alexbfree commented on #1003
moving to Specs done until bizdev push it back to dev, dependent on priority

[2022-10-04 13:22] valentinoli commented on #1010
Ended up with sampling based on weight of inbound links

[2022-10-04 15:00] valentinoli commented on #1010
I had already (nearly) finished it before our meeting this morning, and this PR also includes a general webpack configuration fix that enables the use of third party library in our packages. That is what I spent most of the time on since our meeting.

[2022-10-04 15:25] alexbfree opened #1036 "Proof of concept: Ingesting data to produce a time-information-record with multiple views"
[Technology push idea: yet to be validated by bizdev/Paul]

Based on what i have understood about our need to support time-series data... ie. displaying events or periods of time, potentially from multiple data sources, I propse the following:

That we should build a simple proof of concept, in Jupyter or as an experience, which can do the following:

1. import 2-3 different sources (maybe an uber

[2022-10-04 15:32] pdehaye commented on #1036
How is this different from what @emmanuel-hestia is already doing? https://github.com/hestiaAI/clients/issues/35

See also https://github.com/hestiaAI/clients/issues/43

[2022-10-04 15:36] alexbfree commented on #1036
I hadn't seen https://github.com/hestiaAI/clients/issues/43. - but yes, you are right it has elements of both https://github.com/hestiaAI/clients/issues/35 and https://github.com/hestiaAI/clients/issues/43.

I think it's maybe a slightly higher level than https://github.com/hestiaAI/clients/issues/35 but less broad than https://github.com/hestiaAI/clients/issues/43, and as such is more actionable,

[2022-10-04 16:03] pdehaye commented on #1036
https://github.com/hestiaAI/clients/issues/43 has the advantage of not being target-fixated on time series data, but I can see the advantage of a tightly defined deliverable.

Hence one option is to do this issue four times over, for four distinct datasets (picked from the gems, or what is about to become a gem):

* Uber data and trip-by-trip accounting https://github.com/hestiaAI/clients/issues/3

[2022-10-05 07:10] fquellec commented on #906
I can't check that the app bar menu has been fixed as I never managed to reproduce the bug, @pdehaye ?
Regarding the sidebar menu, I still have the scrolling issues on Firefox + Mac, here is a video when I scroll indefinitely.

https://user-images.githubusercontent.com/17878016/194001317-417cf958-7a96-485b-beb7-fa70699fa39c.mov

[2022-10-05 07:31] pdehaye opened #1040 "Experiences in Jupyter"
In the past I have suggested using experiences in Jupyter, but that discussion didn't go very far. I am starting this ticket:
* because modularization might change the difficulty assessment a bit (provided one knows how to embed JS in Jupyter)
* because of https://github.com/hestiaAI/hestialabs-experiences/issues/1003

The latter ticket's first comment concerns running the data processing pipeline

[2022-10-05 07:37] pdehaye commented on #906
II still have bugs in the sidebar, but I don't understand them and can't reproduce them. The content varies depending on my transitions through the site, possibly due to being logged in or not.

[2022-10-05 07:55] alexbfree commented on #1036
I can see the merit of splitting it up, allowing us to find the richest data from each specific provider. However something is lost by splitting it up, and that's that if each one is handled separately, we risk each instance becoming too focused on the specifics of an individual case.

I think as an organisation we need to begin to make a shift from "let's show you everything we can from a set of

[2022-10-05 07:56] alexbfree commented on #1036
(and yeah, i take the point this ticket focuses on time and there are other focuses - we could imagine parallel/equivalent efforts to this one that have other focuses e.g. a region, a person, etc.)

[2022-10-05 08:20] valentinoli commented on #935
Leaving in "Development needed" for now

[2022-10-05 08:21] valentinoli commented on #937
Leaving in "Development needed" for now

[2022-10-05 08:21] valentinoli commented on #936
Leaving in "Development needed" for now

[2022-10-05 08:42] alexbfree commented on #1040
Looks like it is possible to use javascript clientside libraries for visualisations in Jupyter. https://towardsdatascience.com/javascript-charts-on-jupyter-notebooks-dd25f794cf6a

[2022-10-05 08:43] fquellec commented on #906
Can you provide a screenshot when this happens again? For now, as we don't know what to do, I'm renaming the issue and we'll create a new one when we've identified your bug.

[2022-10-05 08:52] alexbfree commented on #1040
@valentinoli @pdehaye we said this should move to Specs Needed column, right?

[2022-10-05 09:03] alexbfree commented on #935
I propose that we move #46, #47 and #48 (three small low priority tickets) to either Specs Done or Committed to Dev, so that we stop discussing them everyday.

Logic for moving to specs done would be that the ticket is actionable by dev but no decision to proceed has been taken yet. Downside is that decision is left with bizdev

Logic for moving to committed to dev is that it is most definitely on

[2022-10-05 09:06] alexbfree commented on #937
see discussion point in #935 about where to put this ticket

[2022-10-05 09:07] alexbfree commented on #46
(ignore that mention, was on wrong ticket)

[2022-10-05 09:27] alexbfree commented on #1036
Do we have a list somewhere?

[2022-10-05 09:34] valentinoli commented on #1010
First, I select the top 20 nodes by the node in-degree. Then for all incoming neighbors of each of these 20 nodes, I pick the top 50% of the links that have the highest weight

A test was performed with 3 different archives

Before:

![Image](https://user-images.githubusercontent.com/23453691/194029151-aeaa5f80-ccb6-4571-999c-69c9daeba600.png)

After:

![Image](https://user-images.githubuserconten

[2022-10-05 12:49] alexbfree opened #1041 "Colour scheme makes Uber journeys hard to read"
<img width="1043" alt="Screenshot 2022-10-05 at 12 30 21" src="https://user-images.githubusercontent.com/1473244/194063956-16be0fc5-afa6-4835-a08b-b77c9f4c21d7.png">

As this example shows, it is really hard to see the arcs of journeys. I think we should use a standout colour (black maybe, now that maps are never in dark mode?) and possibly also a thicker line.

[2022-10-05 13:54] foucault-dumas commented on #766
### Highlight notable similarities and differences

- Inferred data observed in > 90% (?) of the aggregated data sets
- Inferred data observed in < 10% (?) of the aggregated data sets
- Targeting criteria observed in > 90% (?) of the aggregated data sets
- Targeting criteria observed in < 10% (?) of the aggregated data sets
- Adverstisers observed in > 90% (?) of the aggregated data sets
- Adverti

[2022-10-05 15:23] alexbfree opened #1042 "Bad control character error message in Facebook time/location tabs"
This happened to me within the Facebook experience

<img width="1244" alt="Screenshot 2022-10-05 at 16 21 51" src="https://user-images.githubusercontent.com/1473244/194098610-78586967-c0ec-4de9-80fa-c2cd5aee5a4e.png">

Console contains

[code]

I'm afraid i can't share the facebook download file as it is my own personal data and too sensitive to share.

[2022-10-05 15:42] alexbfree commented on #932
I have done almost all of the tests, except two tabs on Facebook. I need a different Facebook data file that doesn't hit issue https://github.com/hestiaAI/hestialabs-experiences/issues/1042

Have requested new Facebook file in the hope that this was just a rare occurrence affecting one file.

[2022-10-05 15:45] alexbfree opened #1043 "Generic Experience needs to be Internationalised"
As discovered during testing/discussion of #932 , we need to translate the generic explorer experience. This is not urgent for a client but needs to be done. @valentinoli and @fquellec have discussed and I understand they have determined this is more difficult than the other translations, so needs its own ticket.

[2022-10-05 16:02] alexbfree opened #1044 "Dots do not render on maps in two tabs of Google Experience - French Only"
During testing I noticed that on the Google experience, with the sample data, I am seeing no dots on the map despite data being present in the table below, for both

- Autres Candidats (Other Candidates) Tab
- Trajets (Travels) Tab

This ONLY happens when you set language to French, so I imagine it is in some way a side effect of the translation work #932

[2022-10-05 16:05] alexbfree commented on #932
since there are bugs that can be fixed, I will pass this back to Development needed.

See https://github.com/hestiaAI/hestialabs-experiences/issues/932#issuecomment-1260952166 for details of issues found.

@valentinoli may wish to comment, though it need not necessarily be Valentin who fixes the issues found.

[2022-10-06 06:34] valentinoli commented on #1010
This has not been deployed yet for testing

[2022-10-06 08:21] valentinoli commented on #1043
To be more specific: The bulleted summary list in the summary tab, and the JSON tree structure, are difficult to translate

[2022-10-06 08:24] emmanuel-hestia commented on #1040
Waiting for modularisation to be completed

[2022-10-06 08:49] alexbfree commented on #1042
This is currently blocking last couple of tests on #932

[2022-10-06 09:26] valentinoli commented on #1010
Deployed to https://test.hestialabs.org

[2022-10-06 09:30] alexbfree commented on #1041
flagging @hestiaAI/dev so it is on dev radar - but leaving in bizdev's column in case they want to express a direction/opinion.

[2022-10-06 09:55] valentinoli opened #1045 "🐞 [BUG]: The file timestamp is the same for all files in the aggregator file viewer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

All the files have the same timestamp, the time of loading the page

### Expected Behavior

The time shown below the file name should be the time of uploading the file

### Images

![image](https://user-images.githubusercontent.com/23453691/194283237-19b0bfe8-cf98-4b88-acaa-76d1877f9906.png)

[2022-10-06 09:59] valentinoli opened #1046 "Add the file sizes to the aggregator file viewer"
Here we would like to see the size of each file

![image](https://user-images.githubusercontent.com/23453691/194284691-10cf9a36-cd84-4978-a32b-b9eb0b5cda7b.png)

[2022-10-06 10:26] valentinoli commented on #1010
Deployed to https://test.hestialabs.org

[2022-10-06 10:55] valentinoli commented on #1033
Issue tested by me and re-assigned to @andreaskundig
See more info in the PR

[2022-10-06 13:05] valentinoli opened #1048 "🐞 [BUG]: Zip files don't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Uploading zip files does not work

### Expected Behavior

It should work

### Images

![image](https://user-images.githubusercontent.com/23453691/194319313-6b5839f7-149d-48ac-af7a-d75561e1661f.png)

### Steps to Reproduce

Go to any experience and upload a zip file (not a sample file)

### Da

[2022-10-06 16:37] valentinoli commented on #932
Awaiting #1048 for test deployment

[2022-10-07 08:16] alexbfree commented on #1040
@valentinoli was asking about value of this as something separate from experiences.

@pdehaye explaining that we sometimes need to work on unknown format data e.g. from audit files / haixin auditing. don't want to program an experience for every unique file format.

[2022-10-07 08:19] alexbfree commented on #1040
@pdehaye points out that dev team need to see more of what sorts of data formats come out of @HaixinShi 's auditing tool in order to better understand the need here. Presentation proposed?

[2022-10-07 08:22] alexbfree commented on #1040
@HaixinShi @pdehaye and others to discuss on Monday.

@HaixinShi suggests we could do some work on this independently of modularisation.

@pdehaye saying we as a team need to get more familiar with this audit data.

All agreed we want to avoid duplicate work.

[2022-10-07 08:25] alexbfree commented on #1042
@fquellec suggests a fix would be that scanning continues skipping over any file with an error in parsing.

[2022-10-07 08:27] alexbfree commented on #1045
@fquellec says this is currently the time of download on front end.

[2022-10-07 10:39] #1048 closed

[2022-10-07 10:58] valentinoli commented on #932
Deployed to test.hestialabs.org

[2022-10-07 15:51] alexbfree commented on #935
Issue observed in Instagram Experience.

- Timeline Tab
  - Description Column
  - File name Column

UI also hangs when switching to a different tab (and indeed all subsequent tab switches are affected too) from the Timeline tab, when this many rows are loaded (which may or may not need a separate issue).

[2022-10-07 21:14] valentinoli opened #1051 "🐞 [BUG]: unlocalized dataPortalMessage and dataPortalHtml not visible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When `dataPortalMessage` or `dataPortalHtml` is configured for an experience, and translations are not configured in a `messages.json` file, they do not appear.

### Expected Behavior

We should fallback to the properties defined on the experience itself so the messages are visible even when

[2022-10-07 21:32] valentinoli commented on #1051
Deployed to test.hestialabs.org for testing

[2022-10-07 21:36] valentinoli commented on #985
Deployed to test.hestialabs.org for testing

[2022-10-10 07:54] valentinoli opened #1059 "🐞 [BUG]: Import statement bug (blocking deployments)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The import statement that loads packages in [experiences/store/index.js](https://github.com/hestiaAI/hestialabs-experiences/blob/1defbfb1169f8c6dc3520529b88da18aa6ca7ae8/experiences/store/index.js#L177) throws an error.

### Expected Behavior

It should not throw an error and work as it has p

[2022-10-10 08:45] valentinoli commented on #1051
Tested and closing

[2022-10-10 08:45] #1051 closed

[2022-10-10 08:49] valentinoli commented on #985
Tested and closing

[2022-10-10 08:49] #985 closed

[2022-10-10 08:49] valentinoli commented on #1059
Now test.hestialabs.org is working. I built the app on the master branch, and then copied it to netlify-test. I don't know if anything I did solved the bug or not.

[2022-10-10 08:53] valentinoli commented on #932
Tests passed and closing

[2022-10-10 08:53] #932 closed

[2022-10-10 12:33] andreaskundig commented on #884
I'm creating another issue for the rest of internationalization, beyond what that client needs

[2022-10-10 12:33] #884 closed

[2022-10-10 12:45] andreaskundig opened #1060 "Complete internationalization"
Internationalization was introduced as far as a particular client needed. I list the places I remember, but looking at it closely would probably reveal some other places.

For some parts of the application, we lack a translation mechanism:
- [ ] mechanism for multilingual consent forms
- [ ] mechanism to configure a translation for kepler
- [ ] mechanism for multilingual /import page

Other parts

[2022-10-10 12:50] andreaskundig commented on #1060
I'm leaving this "for bizdev consideration" to see if any of the points has a high priority

[2022-10-11 08:10] alexbfree commented on #1059
Closing but we will re-open it if the bug re-appears

[2022-10-11 08:10] #1059 closed

[2022-10-11 08:11] andreaskundig opened #1064 "Umbrella modularization"
Links to existing issues:
- #985
- #896
- #1131
- #1101
- #1084
- #1151

[2022-10-11 08:14] alexbfree commented on #935
Per @valentinoli suggestion: let's convert this to a specified requirement, where we can specify for each column whether it is filterable or not, as part of the experience config. We can then set these columns to be non-filterable.

The hanging when you switch between tabs can be looked at separately once this has been addressed. should be done in parallel to #997.

[2022-10-11 08:17] alexbfree commented on #922
Andreas reports this is waiting on UFC. At which point we might add more options for footer configuration.

[2022-10-11 08:22] alexbfree commented on #1040
awaiting for discussion next Monday

[2022-10-11 08:28] alexbfree commented on #1033
Question for bizdev: do we still need import page in future? (ability for user to display data he has downloaded)

(we would need to support versioning of experiences and saving of version in export files which is a large amount of work which we haven't done yet)

[2022-10-11 08:37] alexbfree opened #1065 "improve bubble request template"
based on feedback from Charles, can we make it a bit less scary/simpler in the base case?

[2022-10-11 08:39] alexbfree commented on #1065
@alexbfree to do a pass on improving the wording, then pass to @valentinoli for integration with new repo-wide bubble template.

[2022-10-11 08:39] alexbfree commented on #1065
waiting for hestiaai/clients/issues/59 to complete first.

[2022-10-11 08:42] alexbfree commented on #1011
Moving to 'specs needed' for dev to explore and test more.

It would be useful if @pdehaye could comment as to whether this is less critical/urgent now, it seems to be so.

[2022-10-11 08:47] alexbfree commented on #1006
To be refined together between @fquellec and bizdev. @fquellec will comment soon.

[2022-10-11 08:50] alexbfree opened #1066 "redesign the nav/menu of experiences which is getting messy"
see discussion - https://github.com/digipower-academy/private/discussions/18#1066

[2022-10-11 08:51] alexbfree commented on #1066
to be discussed by dev+bizdev together

[2022-10-11 08:53] alexbfree commented on #934
can be handled as part of #1066

[2022-10-11 10:31] pdehaye commented on #1011
It sounds like the particular Twitter-related problem has been (monentarily) resolved, at the expense of creating a lot of new tabs that are somewhat incompatible between each other for no good reason necessarily. Hence it would be less urgent.

It also sounds to me like the more generic underlying problem has got to do with batch-importing data into the database.

Finally, this is all to be re-bu

[2022-10-11 10:39] alexbfree commented on #1030
discussed with Charles, this is needed before Thursday, I said we (dev) will make sure it gets done on Wednesday.

[2022-10-11 12:15] fquellec commented on #1010
Nice work ! Tested and approved.

[2022-10-11 12:15] #1010 closed

[2022-10-11 12:40] pdehaye opened #1069 "🧆 [BUBBLE REQUEST]: …"
### General Context

zukuzuz

### Bizdev Contact Person

kzukuz

### Deadline / Importance

kuzkuz

### Bubble Title

kzkuz

### Bubble ID

kzukuz

### Bubble Description

kzukuz

### Additional Content

kuzukuz

### Icon URL

_No response_

### Bubble Type

Participant

### Destination Bubble(s)

uzkuzuz

### Consent Form

_No response_

### Credentials

_No response_

### Public Key

_No respons

[2022-10-11 13:44] pdehaye opened #1071 "🐞 [BUG] remove username for participant bubble before upload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When about to upload in a participant bubble, users are asked for a username and a password. This is a mistake (see also [here](https://github.com/hestiaAI/clients/issues/53#issuecomment-1274680012)).

### Expected Behavior

They should at most be asked for a *codeword*. Better to use the lan

[2022-10-11 16:50] valentinoli commented on #1071
I could not reproduce this, a screenshot would be useful

[2022-10-11 22:11] pdehaye commented on #1071
Sorry, I was mistaken.

[2022-10-11 22:11] #1071 closed

[2022-10-12 06:53] valentinoli commented on #1071
@pdehaye
We should still replace password with codeword --> feature request?

[2022-10-12 08:35] pdehaye commented on #1071
yes

[2022-10-12 10:31] andreaskundig opened #1076 "Migrate packages to npm"
In order to distribute our modules through cdns like unpkg, we can publish them on npm.

I have a working example for the kepler-iframe subproject, [temporarily published to my own npm account](https://www.npmjs.com/package/@andreaskundig/kepler-iframe).

See [Creating an organization](https://docs.npmjs.com/creating-an-organization) in npm's documentation.

[2022-10-12 11:36] alexbfree commented on #828
There are other discussions ongoing such as #1066 , so we will close this one. If bizdev disagrees please reopen

[2022-10-12 11:36] #828 closed

[2022-10-12 11:38] alexbfree commented on #767
I think this has been superceded by hestiaAI/clients/issues/35 and also #1036 - closing this, bizdev please reopen if you disagree

[2022-10-12 11:40] #808 closed

[2022-10-12 11:41] alexbfree commented on #763
to backlog, to be considered after #1064 / modularisation

[2022-10-12 11:42] alexbfree commented on #762
moving to backlog as future idea.

[2022-10-12 11:44] alexbfree commented on #760
moving to backlog, @pdehaye if this needs attention please move it to an appropriate bizdev column to progress it.

[2022-10-12 11:44] alexbfree commented on #758
backlog

[2022-10-12 11:45] alexbfree commented on #757
move to backlog

[2022-10-12 11:47] alexbfree commented on #747
valentin fixed it

[2022-10-12 11:47] #747 closed

[2022-10-12 11:48] alexbfree commented on #746
Closed not reproducible - please reopen with more info if needed

[2022-10-12 11:48] alexbfree commented on #745
Closed not reproducible - please reopen if still a bug

[2022-10-12 11:48] #745 closed

[2022-10-12 11:49] alexbfree commented on #744
good idea which we move to backlog for future consideration

[2022-10-12 11:50] alexbfree commented on #744
depends on fixing filtering

[2022-10-12 11:51] alexbfree commented on #744
hard to do when we are locked to data files, we probably need both filtering on tabs and across tabs

requirements are needed

[2022-10-12 11:52] alexbfree commented on #743
still needs finishing, move to backlog

[2022-10-12 11:53] alexbfree commented on #885
relates to versioning

close it for now, we think we don't need it

[2022-10-12 11:53] #885 closed

[2022-10-12 11:53] pdehaye commented on #760
done

[2022-10-12 11:54] alexbfree commented on #886
@andreaskundig says packages need to be put on npm, then they are automatically on CDNs

[2022-10-12 11:56] alexbfree commented on #742
closing

[2022-10-12 11:56] #742 closed

[2022-10-12 11:56] alexbfree commented on #723
closing

[2022-10-12 11:56] #723 closed

[2022-10-12 11:56] pdehaye commented on #767
It is not quite superceded, because we discussed more here the nested structure. But ok to close.

[2022-10-12 11:57] alexbfree commented on #722
close

[2022-10-12 11:57] #722 closed

[2022-10-12 11:59] alexbfree commented on #693
already done

[2022-10-12 11:59] #693 closed

[2022-10-12 12:00] alexbfree commented on #692
This is enabled by CMS hestiaAI/clients/issues/24 hestiaAI/clients/issues/54 and also in translations

[2022-10-12 12:00] #692 closed

[2022-10-12 12:03] alexbfree commented on #593
close as too old

[2022-10-12 12:03] #593 closed

[2022-10-12 12:05] alexbfree commented on #534
close as old

[2022-10-12 12:05] #534 closed

[2022-10-12 12:06] alexbfree commented on #527
good idea - backlog

[2022-10-12 12:07] #513 closed

[2022-10-12 12:08] alexbfree commented on #494
close

[2022-10-12 12:08] #494 closed

[2022-10-12 12:08] alexbfree commented on #463
good idea for backlog

[2022-10-12 12:09] alexbfree commented on #462
close as not important

[2022-10-12 12:09] #462 closed

[2022-10-12 12:09] alexbfree commented on #413
generally need to make app more mobile friendly. backlog.

[2022-10-12 12:10] alexbfree opened #1077 "review experiences to make them more mobile friendly"

[2022-10-12 12:11] alexbfree commented on #413
see #1077

[2022-10-12 12:11] #413 closed

[2022-10-12 12:15] alexbfree commented on #265
no longer needed

[2022-10-12 12:15] #265 closed

[2022-10-12 12:15] alexbfree commented on #359
still possible - backlog

[2022-10-12 12:17] alexbfree commented on #191
closing as we already have something

[2022-10-12 12:17] #191 closed

[2022-10-12 12:17] alexbfree commented on #148
close as old

[2022-10-12 12:17] #148 closed

[2022-10-12 12:18] alexbfree commented on #389
move to backlog - Bizdev please advance this if/when it becomes needed.

[2022-10-12 12:19] alexbfree commented on #1013
we have some basic profiling valentin did.

[2022-10-12 13:49] alexbfree commented on #376
on hold until we find some suitable long-celled data again, not urgent until we do

[2022-10-12 15:40] alexbfree commented on #1036
One important strategic question that should precede this ticket, is now documented in #65

[2022-10-13 06:21] pdehaye commented on #1076
I have created the organization: https://www.npmjs.com/org/hestia.ai
I see it referred to as `@hestia.ai`
I have invited @andreaskundig there, but don't know if I should invite others (usernames?).
I put this is dev review.

[2022-10-13 08:40] valentinoli opened #1080 "💡 [FEATURE REQUEST] Rename `password` to `codeword`"
**Is your feature request related to a problem? Please describe.**
Quoting @pdehaye

See discussion in: https://github.com/hestiaAI/hestialabs-experiences/issues/1071

**Describe the solution you'd like**
Replace the phrase "Password" with "Codeword" anywhere in the UI. Also change it in the codebase (because that affects the language used within the team)

**Describe alternatives you've considere

[2022-10-13 08:45] andreaskundig opened #1081 "🐞 [BUG]: browsers runs code from a older deployment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This happens after new deployments.

One time the sqlite wasm file was missing in the deployment, but the application continued working in a browser that still had the file in the application cache. This is not the same as the browser cache, and is not purged when you clear the browser cache.

[2022-10-13 09:39] andreaskundig commented on #1076
It works!

[hestia.ai](http://hestia.ai/) has its first package on npm 🎉
https://www.npmjs.com/package/@hestia.ai/kepler-iframe

Anyone who want to publish packages needs to create an npm user with two factor authentication, whom @pdehaye  then needs to add to the [hestia.ai](http://hestia.ai/) npm organisation

[2022-10-13 09:57] fquellec opened #1084 "🐞 [BUG]: Routing bug, cannot access experience within a bubble with URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we try to access an experience within a bubble directly using it's URL, we get an infinite spinner, it seems to be related to a redundant navigation ?
We can still access experiences within a bubble by using the UI.

### Expected Behavior

We should be able access any bubble experience f

[2022-10-13 12:20] valentinoli opened #1085 "Remove `consent` and `publicKey` properties from deployment config docs"
`consent` should be moved to bubble config docs, and `publicKey` should be removed

[2022-10-13 13:17] pdehaye commented on #906
![signal-2022-10-13-08-02-40-075.png](https://user-images.githubusercontent.com/3274335/195606918-b14de8d2-5dbb-468a-bc12-67cc4920a3ad.png)

Not sure what to do with this or why there are no bubbles. Might be because this was loaded through browser cache and not when I was actually online.

[2022-10-13 13:42] alexbfree commented on #624
I confirm this bug no longer occurs. Closing

[2022-10-13 13:49] alexbfree commented on #936
This is still a current bug.

[2022-10-13 13:52] alexbfree commented on #935
Also experienced hanging when moving between tabs on a large file within Google experience. (filtering columns was OK on that experience tho)

[2022-10-13 14:00] alexbfree commented on #373
I tested this and in fact the .TXT files don't render at all.

[code]

so this bug (or something closely related) is still active.

[2022-10-13 14:00] alexbfree commented on #373
Moving to backlog on the basis it is probably not a priority

[2022-10-13 14:18] alexbfree opened #1086 "Google Experience title and load page text should be updated to reflect the fact that it is Location History only"

[2022-10-13 14:56] alexbfree commented on #525
As far as I can see 1 is not done.

I agree 4 is done.

I think 1,2,3 and 5 could still be done. So this ticket should stay open. Moving to backlog.

[2022-10-13 14:58] alexbfree commented on #1076
I was just going through Testing (Dev) and noticed this one - seems like this is Done and could be closed? Good job guys!

[2022-10-13 15:06] valentinoli commented on #1085
Move from this file

https://github.com/hestiaAI/hestialabs-experiences/blob/master/experiences/config/README.md

to this file

https://github.com/hestiaAI/hestialabs-bubble-server/blob/master/media-root/bubbles-config/README.md

[2022-10-13 15:35] alexbfree commented on #1084
I noticed something similar (macOS Mojave, Brave browser):

For me,

https://digipower.academy/bubble/live-participant spins forever and doesn't load

https://digipower.academy/bubble/live-participant?redirect=%2Fbubble%2Flive-participant (which is where you end up from clicking login) works, and changes the addressbar to https://digipower.academy/bubble/live-participant, and the experience loads.

[2022-10-14 07:56] alexbfree opened #1087 "[UMBRELLA] Improvements to Kepler UI and Uber experiences based on TL feedback"
[UPDATED]

Things that @Shalf is aware of:

- Zoom in / zoom out - difficult with trackpad (maybe add +/- buttons?) -> https://github.com/hestiaAI/hestialabs-experiences/issues/1092
- can we do anything about lag - spinners etc, wastes time in demos (i think not, it's inherent to the architectural choices we have made)
- cache issue -> https://github.com/hestiaAI/hestialabs-experiences/issues/1091

[2022-10-14 07:56] alexbfree commented on #1087
@Shalf Please could you add more details here about what is needed?

[2022-10-14 08:00] Shalf commented on #1087
I only mentionned UX in the context of the homepage yesterday. At this point, I've never seen or used our Uber interface. Can we start with that?
Is 11.30am CEST (Lausanne time) a good time to test that together please @alexbfree? I can't precise PO's needs I don't know of, though.

[2022-10-14 08:10] fquellec commented on #1087
@alexbfree to get the requirements from bizdev

[2022-10-14 08:22] alexbfree commented on #1087
I am meeting @Shalf to find out more, but @pdehaye sounds like additional input from you will still be needed to make sure we do capture what you are raising

[2022-10-14 09:42] alexbfree commented on #1087
Taking notes in call with @Shalf :

(we are going through TL google experience)

- Zoom in / zoom out - difficult with trackpad (maybe add +/- buttons or drag rect to zoom?)
-
-

[2022-10-14 10:09] alexbfree commented on #1041
discussed with @Shalf and he agrees this is an issue we should address

[2022-10-14 10:21] alexbfree opened #1088 "🐞 [BUG]: Some Uber filenames are not correctly recognised - Driver Payments and Driver Trips files"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

When loading some Uber driver data, some tabs did not load simply because they did not find the expected filename.

### Expected Behavior

the following file formats need to be supported

- Driver Payments - needs to support `10a - Driver Payments.csv` or similar
- Driver Trips - needs to su

[2022-10-14 10:27] alexbfree opened #1089 "🐞 [BUG]: Uber Driver filename matching is sometimes picking up wrong file"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

With a driver's Uber data, the Driver Points tab loads, but shows no map points and wrong table data. The issue is that the wrong file is being picked up.

### Expected Behavior

Driver Trips shown correctly from Driver Lifetime Trips CSV

### Images

![Screenshot 2022-10-14 at 11 22 52](htt

[2022-10-14 10:31] valentinoli commented on #1076
Awaiting Paul's invitation to the npm organization

[2022-10-14 10:35] alexbfree opened #1090 "🐞 [BUG]: Possible bug? Only endpoints of trips being shown in Uber Driver Trips"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

With a driver's data, we see only endpoints of journeys, not journey lines as in the sample data.

### Expected Behavior

expected lines not single points.

### Images

current (Driver Trips tab, from driver's data):

![Screenshot 2022-10-14 at 11 30 13](https://user-images.githubusercontent

[2022-10-14 10:39] alexbfree opened #1091 "[BUG] Cache issue when you load Uber Driver experience offline first"
See Paul chat

![Screenshot 2022-10-14 at 11 37 34](https://user-images.githubusercontent.com/1473244/195827560-c6a9649f-f544-4e44-a63c-4beed11af2c2.png)

Needs properly reproducing in order to fill bug template.

[2022-10-14 10:48] alexbfree opened #1092 "🐞 [BUG]: Awkward to conduct zooming on Kepler maps with trackpad"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

Yann/Paul report there have been issues with zooming map when using a trackpad. Yann suggests +/- buttons would help.

### Expected Behavior

Ability to press +/- buttons to zoom?

### Images

_No response_

### Steps to Reproduce

1. Use a trackpad
2. Try and scroll and zoom.
3. Awkwardness

[2022-10-14 10:49] alexbfree commented on #1087
@pdehaye please review the links in [here](https://github.com/hestiaAI/hestialabs-experiences/issues/1087#issuecomment-1278756686) and add anything you are aware of that we haven't captured. Plus feel free to give any indication on priorities amongst these issues

[2022-10-14 10:52] pdehaye commented on #1087
First and last definitely high priorities. Needs finer decisions.

[2022-10-14 10:53] alexbfree commented on #1092
@Shalf are you able to add a bit more detail here? Was the issue that when you use trackpad to scroll, you accidentally hit zoom?

Or was there some difficulty in actually executing a zoom?

Bit more detail would help

[2022-10-14 10:54] Shalf commented on #1092
Near to impossible to zoom, and slow/laggy zoom, without a mouse. While demoing, it is often without ^^If not easily fixable via software, mice are must-have demo tools in mobility then :)

[2022-10-14 10:59] alexbfree commented on #1087
ok i can do some additional testing in french

[2022-10-14 11:02] pdehaye commented on #1044
This I understand as occurring because the accessors are language dependent for Google!

[2022-10-14 12:27] alexbfree commented on #1044
oh ok so it's the data that's different, not the UI!

[2022-10-14 13:06] alexbfree commented on #1087
Additional feedback from Paul:
- Whitespace issues on large screens (2 separate issues)
- Issues with default zoom level on kepler maps
- need to do some French testing

[2022-10-14 13:11] alexbfree commented on #1092
Additional context from Paul:

- "It's just really hard to zoom with track pad and to pan. "
- "One element I suspect was that this was happening because he was screen projecting onto a screen with non mirror displays (which is the correct one to have at the moment)"...
- "Makes additional trackpad swipes confusing."....
- "To panning. Charles was trying to get out of the bug situation you found b

[2022-10-14 13:16] alexbfree opened #1093 "💡 [FEATURE REQUEST] Improved Default Zoom for all Kepler Maps"
Paul pointed out that on maps (e.g. Uber, Google locations) the default view is scoped to show the whole world.

Instead, the map should zoom to something closer to the maximal extent of the points in the data.

It should take whichever is the smaller area of :

- that maximal area
- 200km around the top heard wifi access point location, if we have it

[2022-10-14 13:24] alexbfree opened #1094 "🐞 [BUG]: Wasted whitespace with maps on some tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

On large screens, we don't use enough of the screen. This is especially an issue when using maps (probably wide tables too)

### Expected Behavior

Map should fill more of screen

### Images

![Screenshot 2022-10-14 at 12 04 25](https://user-images.githubusercontent.com/1473244/195857938-52d

[2022-10-14 13:28] alexbfree opened #1095 "🐞 [BUG]: White square at screen edge on wide displays"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

on especially wide screens, the mapbox container is wider than the map itself, with white empty square on right.

Separate issue from #1094

### Expected Behavior

Map is centred and flush to edges of its container, no whitespace within container

### Images

![Screenshot 2022-10-14 at 12 02

[2022-10-14 13:29] alexbfree opened #1096 "[TASK] Do additional French language testing on Uber Rider exp and Uber Driver exp"

[2022-10-14 14:01] alexbfree commented on #1092
How to add zoom controls > https://docs.mapbox.com/mapbox-gl-js/example/navigation/

[2022-10-14 15:31] alexbfree commented on #1093
Paul has clarified the centre point should be:

- Top heard wifi signal average => There is a tab that has wifi signals, for which we show the average location. That location.

Apparently this is different from average location, and can get around issues with someone who moved city. Will need to dig into code to understand how it works.

[2022-10-14 15:41] pdehaye commented on #1093
I meant my comment for Gmaps.

We didn't use Uber driver when doing the coaching session with client yesterday.

The ticket is formulated at the top with a different scope than what I intended:
- also Uber (so my suggestion not applicable, we don't have this data)
- all maps while some Kepler have to do with points, some with trips, and some with both (I meant for just the first tab of Gmaps which

[2022-10-14 15:46] alexbfree commented on #1093
I think you are saying:

1. "narrow the scope of this ticket, we only need to change the default zoom for google maps first tab" (plus potentially some others where we have default zoom issues, as yet not identified)

and

2. "for the "minimum of 200m from top heard wifi signal and max extent" rule, that can only be used in the case of google maps data where we have wifi data" -> so presumably tha

[2022-10-14 15:56] alexbfree opened #1097 "🐞 [BUG]: Two tabs of Uber Driver Experience don't load with Sample Dataset"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

When you select the sample data in the Uber Driver experience, the Driver Payments and Rider Trips tabs (middle two) do not find the data they need so do not work.

### Expected Behavior

Expect that can access working view on these tabs with sample data.

### Images

![Screenshot 2022-10-14

[2022-10-14 15:58] alexbfree commented on #1090
Lower priority as doesn't happen with sample data.

[2022-10-14 15:59] alexbfree commented on #1089
Lower priority as doesn't happen with sample data.

[2022-10-14 15:59] alexbfree commented on #1088
Lower priority as doesn't happen with sample data.

[2022-10-14 16:06] alexbfree commented on #1096
Tested - no French specific issues with Sample Data.

Middle two tabs of Uber Driver not tested due to #1097.

Need to retest after that is fixed (and will ultimately need more testing on non-sample data too, but that is not urgent)

[2022-10-14 16:24] pdehaye commented on #1093
In the current situation wait for a bug report?

The ideal would be that we could quickly identify all the experience tabs relying on kepler, then those that display points. (That ideal should not be pursued on its own. Many parallel tactical steps go in this direction, such as optimizing Uber driver for digipower live.)

Which makes me think: my Uber passenger is going to be subject to the same p

[2022-10-17 08:30] alexbfree commented on #1033
@andreaskundig would i be right that we should unassign you as this ticket is mainly waiting for bizdev input on [these two questions](https://github.com/hestiaAI/hestialabs-experiences/issues/1033?notification_referrer_id=NT_kwDOABZ63LI0NTI4MTA4NDk0OjE0NzMyNDQ#issuecomment-1274301705)?

[2022-10-17 08:36] alexbfree opened #1098 "Add Uber Driver and Uber Rider and Google Takeout and Generic to the Weekly Live Experience (and Google Aggregation)"

[2022-10-17 08:39] valentinoli commented on #1098
So it's

uber
uber-driver
google
google-agg
explorer

?

[2022-10-17 08:40] alexbfree commented on #1098
Yes that is what I understood from Paul

[2022-10-17 08:41] alexbfree commented on #1098
Please keep Twitter and Twitter Agg.
This is for the Weekly Live Bubble on digipower.academy.

[2022-10-17 09:09] valentinoli commented on #1080
I'll add to this issue the following renaming:

`username` -> `id`

[2022-10-17 09:35] alexbfree opened #1099 "🐞 [BUG]: Reported UX issues with Twitter Aggregation"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

Paul has provided a video identifying a number of issues with user experience in the Twitter Aggregation experience:

This is additional and distinct from https://github.com/hestiaAI/clients/issues/55 but a similar kind of task

## Tasks for this ticket:

- [ ] review the video and write dow

[2022-10-17 10:14] valentinoli commented on #1098
Deployed to https://digipower.academy

https://digipower.academy/bubble/live-participant/

[2022-10-17 11:11] valentinoli commented on #1080
Tested on digipower.academy

[2022-10-17 11:11] #1080 closed

[2022-10-17 14:13] alexbfree commented on #1097
After talking to Paul this seems to be as expected. Because we don't have sample data for those tabs. Closing for now - we can reopen if this situation changes.

[2022-10-17 14:13] #1097 closed

[2022-10-17 14:14] alexbfree commented on #1096
Since #1097 resolves not to do anything with those tabs, this can close.

[2022-10-17 14:14] #1096 closed

[2022-10-17 15:44] #1088 closed

[2022-10-17 16:18] alexbfree commented on #1089
On further investigation this is not a code issue. For this one particular driver it was looking in the right file, but that file did not contain the expected geolocation information. Therefore this ticket was raised in error. Closing.

[2022-10-17 16:18] #1089 closed

[2022-10-17 16:29] alexbfree commented on #1090
As with #1089, this turns out to be a property of the particular driver's data where no geolocation data is present in the trips file. Closing as it is not a code issue after all.

[2022-10-17 16:29] #1090 closed

[2022-10-18 09:21] alexbfree opened #1101 "Hide Bubble Icons Behind A Login"
Arising from Paul's ticket hestiaAI/clients/issues/25, the plan is that no bubble icons should be listed on the frontpage of digipower.academy (or in left nav) by default. Instead, we have a Login feature.

The user can log in by entering their bubble's ID, and the codeword they have.

Once the login has been successful, the appropriate bubble(s) are now accessible in the left nav and on the front

[2022-10-18 16:13] alexbfree commented on #1092
I have been exploring options for this this afternoon.

The examples I linked above seem to be available in MapboxGL but not the KeplerGL version of Mapbox

- https://github.com/keplergl/kepler.gl/issues/1078
- https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/README.md#keplergl

However, we can implement custom changes to the map.

### Notes to self

I have figured out the s

[2022-10-18 16:17] alexbfree commented on #1093
No, not waiting for anything now. I can action this.

It's next up after #1092

Where you can help is to highlight places where you see issues with default zoom, as you notice them - just add them to this ticket (experience+tab+which dataset). Will be good to have multiple test scenarios.

[2022-10-18 16:18] alexbfree commented on #1093
BTW presumably since this is now focused scope on google maps that makes it lower priority than the Uber-centric stuff within #1087 that is needed for Thursday?

[2022-10-19 08:11] alexbfree commented on #1101
Dev to produce a wireframe or sketch or plan, and get it reviewed by bizdev before proceeding.

[2022-10-19 10:35] alexbfree commented on #1092
stepping off this temporarily as it's getting complex, in order for some hopefully quick wins on #1094 and #1095 before returning

[2022-10-19 12:28] alexbfree commented on #1094
This doesn't seem to be happening anymore. Closing.

[2022-10-19 12:28] #1094 closed

[2022-10-19 12:37] alexbfree commented on #1093
Lowering priority as reasoned above, and removing from kepler/uber working set.

[2022-10-19 18:16] #1095 closed

[2022-10-19 18:19] #1041 closed

[2022-10-19 20:39] valentinoli commented on #1084
Should be fixed in parallel with #1101

[2022-10-20 10:37] alexbfree opened #1104 "[internal] Need a mechanism to allow local development of kepler-iframe module without CDN deployment"
In order to progress #1092 and probably #1093 as well, we need a mechanism to allow the loading of the local (and potentially developer-modified) version of the `kepler-iframe/index.js` file rather than last production-CDN-deployed version.

@valentinoli and I have produced a branch with a partial solution.

https://github.com/hestiaAI/hestialabs-experiences/tree/make-kepler-module-editable-locall

[2022-10-20 10:37] alexbfree commented on #1092
This is now on hold pending resolution of https://github.com/hestiaAI/hestialabs-experiences/issues/1104

[2022-10-20 10:38] alexbfree commented on #1093
This is also on hold pending resolution of https://github.com/hestiaAI/hestialabs-experiences/issues/1104

[2022-10-21 16:03] alexbfree commented on #1099
The following issues were mentioned in the video:

- Advertising overview (last month) is blank from Paul's data
- In Aggregate, others couldn’t upload their data (is this the overwriting issue that valentin already fixed?)
- Paul wants to be able to select secret key without showing secret keys's folder
- Target criteria tab lists some data but empty graphs and doesn’t allow exploration
- adverti

[2022-10-24 07:37] #1030 closed

[2022-10-24 08:11] alexbfree commented on #1033
@charles notes this is valuable as a safety check so someone can check the file before uploading it to the aggregate bubble. But as you can download it, this may be enough.

[2022-10-24 08:19] alexbfree commented on #1060
Assigned to Charles for his input/consideration

[2022-10-24 08:30] alexbfree commented on #1066
discussed with dev and bizdev today - we think this will be solved by #1101 so this can be closed.

[2022-10-24 08:30] #1066 closed

[2022-10-24 08:33] alexbfree commented on #1036
@fquellec mentions this is similar to another recent issue about unifying schema, which will enable things like it. @fquellec to add link to this issue here.

[2022-10-24 08:34] alexbfree commented on #1036
Put on hold until 43 is finished

[2022-10-24 08:35] alexbfree commented on #1040
@emmanuel-hestia will talk to @pdehaye to clarify what to do with this ticket / this work.

[2022-10-24 08:46] pdehaye commented on #1040
Transferred for information at this stage to @streitlua

[2022-10-24 09:31] foucault-dumas commented on #1060
I actually don't know how to answer to this.
As users go through all these steps (importing data, visualizing it, sharing it via the consent form), none is less urgent than the others.
As for the urgency of the whole thing vis-a-vis the rest, it seems to me that the need for translation is real for Uber drivers which is a more than current topic for us.

[2022-10-24 11:34] alexbfree commented on #1104
Andreas looked into this and gave the following update:

[2022-10-24 11:37] alexbfree commented on #1104
Based on this, there is nothing can be done for now and we will have to explore other workarounds (such as temporary deployment of in-development code to a test CDN account).

This approach on https://github.com/hestiaAI/hestialabs-experiences/tree/make-kepler-module-editable-locally-in-dev branch might still be useful for other modules that do not include react dependencies.

[2022-10-24 11:37] alexbfree commented on #1104
Closing ticket for now as there is nothing that can be done.

[2022-10-24 15:57] fquellec opened #1106 "🐞 [BUG]: ResetAll button in Twitter overview is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

When we click on the "reset all" button nothing happens.

### Expected Behavior

It should clear all filters.

### Images

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/17878016/197570979-e6159137-7aa6-40e8-a8bc-ba2e87f6debe.png">

### Steps to Reproduce

1. Go

[2022-10-25 09:59] alexbfree opened #1108 "Add Netflix instructions to Netflix Experience"
For a customer we need to add Netflix instructions, as this experience https://digipower.academy/experience/netflix differs from our others in terms of not having instructions.

The instructions are:

1. Go to https://www.netflix.com/account/getmyinfo and log in if needed.
2. Click Submit Request
3. Confirm the Request in your email
4. Await the files by email some days or weeks later.

[2022-10-25 10:21] alexbfree commented on #1087
#1091 and #1092 remain, but this umbrella ticket is no longer needed. closing.

[2022-10-25 10:21] #1087 closed

[2022-10-25 10:24] alexbfree commented on #1092
Given #1104 has no way forward, we have to find a work around for developing this (such as use of a local/test CDN URL, or using the Kepler standalone project).

[2022-10-25 10:25] alexbfree commented on #1092
I can probably take this and pick up where I was at, but am unassigning myself for now in case it needs progressing later this week while I am on leave.

[2022-10-25 10:25] alexbfree commented on #1093
Given #1104 has no way forward, we have to find a work around for developing this (such as use of a local/test CDN URL, or using the Kepler standalone project).

[2022-10-25 10:32] alexbfree commented on #1093
Unassigned myself in case I don't get to this before going on leave and it needs advancing - but if it still here next week I will pick it up again.

[2022-10-25 10:33] alexbfree commented on #1091
Next step here is to produce a list of steps to reproduce the issue.

[2022-10-25 10:46] alexbfree opened #1109 "🐞 [BUG]: Parts of Digipower.Academy homepage can be clicked and a typing cursor appear"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

Most of the text on the digipower academy homepage can be clicked as if it is an editable text field and a flashing cursor appears.

Additionally, when hovering over such texts, the cursor changes from an arrow to a text-bar-cursor (in the case of most text/titles) or white-hand-finger-curso

[2022-10-25 11:59] alexbfree commented on #1109
This issue doesn't appear on Firefox, Chrome, or Safari so can be ignored. Closing.

[2022-10-25 13:25] alexbfree opened #1110 "Accessibility issue / UX improvement on bar charts [Twitter & Netflix overviews, TrackerControl, Apple App Activity...]"
Black text is hard to read when overlaid on bars whose background are dark shades of blue.

We should either switch all our bar graphs (and pies?) to a colour scheme using a range of light/pastel colours, keeping black text OR we should use white/light grey text when the darkness of the colour is above a certain threshold.

We should review hover background colour at the same time - it could be a

[2022-10-25 13:28] alexbfree commented on #1110
Relatedly, we should make the "Current filter" bar highlight colour something outside the color palette of the other bars - e.g. a bright white or yellow bar, or it should be boxed in yellow, black etc to highlight it. As it is, a currently selected filter bar looks the same as bars in other graphs where there is no filter.

<img width="609" alt="Screenshot 2022-10-25 at 14 28 00" src="https://use

[2022-10-25 13:46] alexbfree opened #1111 "UX improvement: Twitter Advertising (Last Month) should be usable in all circumstances"
Issues were encountered in the first digipower live webinar where this tab was blank. This may just have been a property of the data. Nonetheless, we can do something about this. The tab should always be usable.

In order to avoid situations where this tab is blank, we should add the following feature:

1. Detect the most recent advertising related date in the data.
2. Offer a date dropdown for th

[2022-10-25 13:52] alexbfree opened #1112 "Possible bug with Targeting Criteria not working in Twitter Advertising Overview"
Paul encountered an issue in the Digipower Live Webinar with this. See video https://vimeo.com/760101063#t=0h23m50s

Steps:
1. Go to Targeting Criteria (All).
2. Pick a value (such as the account name of a follower lookalike)
3. Click on Advertising Overview
4. Enter that value (including @ sign) into the "targeting criteria" search box (bottom right). In Paul's case, this search found nothing.

T

[2022-10-25 13:54] alexbfree opened #1113 "Question: How are follower lookalikes determined"
A question arising from digipower live webinar 1.

Can we, through experimentation, deduction or online research, figure out anything about how follower lookalikes are determined on Twitter?

[2022-10-25 14:43] alexbfree opened #1114 "Allow typed / pasted file paths when selecting secret key"
In https://github.com/hestiaAI/hestialabs-experiences/issues/1099 Paul's video shows an issue where he did not want to select his secret key because it would show his directory structure. We should allow a full path/filename to be typed/pasted, not just selected from directory selector.

[2022-10-26 06:22] pdehaye commented on #1112
what's the timestamp? always use the timestamp

[2022-10-26 06:44] pdehaye opened #1115 "⚜️ [EXPERIENCE REQUEST]: Uber Driver accounting mockup"
### ⚠️ Data for Development

_No response_

### Title

Uber driver

### Subtitle

Title of the tab: Accounting (mockup)

### Icon

https://www.youtube.com/watch?v=dQw4w9WgXcQ

### Data Samples

_No response_

### Collaborator

_No response_

### Generic Viewers

_No response_

### View Blocks / Tabs

Show a table, with the following structure, of course filled in for the empty columns with the for

[2022-10-26 13:33] fquellec commented on #1115
<img width="1728" alt="accounting mockup" src="https://user-images.githubusercontent.com/17878016/198039639-ebc25347-2c29-4570-a19b-7495d8792cf7.png">

[2022-10-26 20:35] valentinoli commented on #1114
I don't think this is possible. Browsers do not allow direct access to the file system for security reasons.

[2022-10-27 08:36] foucault-dumas commented on #1115
I can't find the words to comment on the Icon

[2022-10-27 10:28] valentinoli commented on #1099
Yes, it's fixed

[2022-10-27 12:06] fquellec commented on #1115
If I understand correctly this mockup should be implemented ASAP from the file called `Trip details (Driver).csv` ?

<img width="1369" alt="image" src="https://user-images.githubusercontent.com/17878016/198279819-997c324a-73dc-4722-8469-498a2f5ae70a.png">

[2022-10-27 12:11] fquellec opened #1127 "💡 [FEATURE REQUEST] Add "future" tabs to experiences"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to show future features during demonstrations.

**Describe the solution you'd like**
We could add disabled tabs to the experience, the user would only see the title, we need a way to make it clear what these tabs are. For example, we could simply add "(SOON)" to the title when a tab is disabled.

[2022-10-27 14:56] foucault-dumas opened #1128 "🐞 [BUG]: Wrong link for #DigipowerLive"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

The link "register here" in https://digipower.academy/bubble/live-participant sends the user here: https://www.eventbrite.ch/e/1-twitter-microtargeted-ads-and-algorithmic-amplification-of-fake-news-tickets-438979408227

### Expected Behavior

It should send him/her to https://www.eventbrite.

[2022-10-27 15:44] foucault-dumas commented on #1127
We want the user to see more than the title, we want the user to see the future feature as well. We just have to make it clear that it's still under construction and will be available soon.
It all started with https://github.com/hestiaAI/hestialabs-experiences/issues/1115, it's a shame to show this new feature with a slide in a presentation rather than with a tab not yet active directly in the exp

[2022-10-27 15:45] pdehaye commented on #1127
We could grey out the whole layout of that tab.

[2022-10-28 08:06] fquellec commented on #1115
needs a response from @pdehaye to be moved forward

[2022-10-28 08:08] fquellec commented on #1076
Waiting for a modification test.

[2022-10-28 08:11] fquellec commented on #1101
This is waiting for #896 to be done

[2022-10-28 08:21] fquellec commented on #1127
@valentinoli suggest we could use Vuetify overlay to "disable" the tab, we could then show an image of the future feature with the overlay, or just a message saying that it's coming or we could use a skeleton loader that will show up each time we have new features.

[2022-10-28 08:23] fquellec commented on #1127
Also we have to keep in mind that sometimes making the mockup and integrating it to the experience as "future tab" is as long as actually implementing it directly.

[2022-10-28 08:27] pdehaye commented on #1115
it should be implemented, but as a pure mockup (i.e. fake data, static table)

[2022-10-31 09:23] #563 closed

[2022-10-31 09:26] valentinoli commented on #1108
In this case I think it's enough to set

[code]

[2022-10-31 09:29] valentinoli commented on #1065
done

[2022-10-31 09:30] valentinoli commented on #1065
@alexbfree I think this one can go ahead and be assigned to you? And closed when you've done a pass?

[2022-10-31 09:45] alexbfree commented on #1065
ok sure, i can take a look

[2022-10-31 10:23] alexbfree commented on #906
On hold until we have steps to reproduce.

[2022-10-31 10:35] alexbfree commented on #1099
Close by agreement including Paul at team meeting

[2022-10-31 10:35] #1099 closed

[2022-10-31 12:09] valentinoli commented on #1128
@andreaskundig you did this one right?

[2022-10-31 13:47] alexbfree opened #1129 "Aggregate features promoted within the experience upon load"
This comes from a request from @foucault-dumas, first raised [here](https://github.com/hestiaAI/clients/issues/54) and moved over to this separate ticket.

From Charles:

Alex response:

Charles' answer:

Alex response

[2022-10-31 13:49] alexbfree commented on #1129
@foucault-dumas I will leave this ticket here so that we can refine the requirements and also you can set a priority if you like.

Questions:
- What is the priority?
- What exactly you would want to see on screen.
- Which experiences is this for?
- How does this mesh into the four-part (now two part) grid design in https://github.com/hestiaAI/clients/issues/54#issuecomment-1274684888 ?

[2022-10-31 15:34] andreaskundig opened #1131 "upgrade to node 18LTS"
Make sure everyone switches at the same time to avoid package-lock weirdness.

This would be a good thing, and is necessary to make some tests work in the modularisation branch.

[2022-11-01 09:11] fquellec commented on #922
Closing as modularization will not cover footer, if requirements change reopen.

[2022-11-01 09:11] #922 closed

[2022-11-01 14:51] #1076 closed

[2022-11-01 16:00] fquellec commented on #1127
Closing as done in https://github.com/hestiaAI/hestialabs-experiences/pull/1136

[2022-11-01 16:00] #1127 closed

[2022-11-01 16:00] fquellec commented on #1115
Closing as done in https://github.com/hestiaAI/hestialabs-experiences/pull/1136

[2022-11-02 09:09] valentinoli commented on #1110
White text will not work because text that flows outside the bar becomes invisible.

[2022-11-02 11:19] valentinoli commented on #1084
Will be fixed with #1064

[2022-11-03 09:24] valentinoli commented on #1101
Potential icon for representing data spaces

![image](https://user-images.githubusercontent.com/23453691/199685833-119ae594-d4a4-4362-938d-2690d8629b18.png)

The icon could be displayed in the app bar and clicking it would take the user to a page with a list of available data spaces. Selecting a data space takes you to the data space home page. No authentication with a codeword is required until t

[2022-11-03 10:04] valentinoli commented on #1101
Other candidate icons

![image](https://user-images.githubusercontent.com/23453691/199692654-855edc21-8e3a-4025-ad9c-1767353ca578.png)

![image](https://user-images.githubusercontent.com/23453691/199692922-962d77d4-036b-4474-ab34-c2a95eef01a2.png)

![image](https://user-images.githubusercontent.com/23453691/199693240-027a556b-8e53-4217-9c6b-99a0b1ec0e6b.png)

[2022-11-03 10:05] fquellec opened #1137 "💡 [FEATURE REQUEST] Create Fake data for every experience in order to test them"
**Is your feature request related to a problem? Please describe.**
At the moment we only have sample data for a subset of the experiences we have. In addition to allowing users to test the experience before using it themselves, creating dummy data for each experience would allow us to test them automatically.

**Describe the solution you'd like**
Create Fake datasets for:

- [x] Facebook
- [x] Ins

[2022-11-03 10:52] alexbfree opened #1138 "UX: Improve app responsiveness /state accuracy through mouse pointer changes"
As Paul reported experiencing in Digipower Live 3, and I have experienced it too, when you are dealing with large archives (Facebook & Google for example) the UI can appear to lock up or to have not registered your click. Whereas in fact it has registered your click and is just processing through a large set of data. This can result in you clicking a tab twice or not being sure what is happening.

[2022-11-03 13:10] alexbfree commented on #1092
putting this down to work on other things. Other people could pick it up if needed. ask me if any questions.

[2022-11-04 16:07] fquellec commented on #1137
Close as done in https://github.com/hestiaAI/hestialabs-experiences/commit/d2d2092921f75354a158cc9b2df54ad09b9728bd

[2022-11-04 16:07] #1137 closed

[2022-11-04 17:15] alexbfree commented on #1065
Have reviewed this, I think Valentin's new template is good. Unless @foucault-dumas thinks anything is required urgently I recommend we put this back on hold and take another look after the CMS work hestiaAI/clients/issues/72 is done.

[2022-11-04 20:22] valentinoli commented on #1101
Demo:

https://user-images.githubusercontent.com/23453691/200066889-7deccfcf-7e3c-414d-a6aa-a160b5fd860c.mp4

The user is now only prompted for the codeword when entering an experience. The behavior was changed as part of modularization.

Moved to Specs done. A couple of questions to bizdev:

* Do you want data space links on the home page still to be removed altogether, as Alex mentions in the de

[2022-11-05 09:04] #1108 closed

[2022-11-07 13:29] foucault-dumas commented on #1065
Nice job!

[2022-11-08 07:55] pdehaye opened #1141 "⚜️ [EXPERIENCE REQUEST]: Collective LinkedIn experience"
### ⚠️ Data for Development

[data set](https://193995.connect.drive.infomaniak.com/index.php/f/00038856)

### Title

Collective LinkedIn experience

### Subtitle

Unlock the power of Linkedin data

### Icon

<use same logo>

### Data Samples

I'm ok for [that](https://193995.connect.drive.infomaniak.com/index.php/f/00038856) to become the data sample for the [individual Linkedin experience](https

[2022-11-08 08:09] pdehaye commented on #1141
Make sure to have a look at https://github.com/hestiaAI/clients/issues/82 to get a better sense of motivation and deadlines.

[2022-11-08 09:11] valentinoli commented on #1131
needs to be done as part of #1064

[2022-11-08 11:48] foucault-dumas commented on #1141
Thanks to this aggregated exp, a company would be able to identify:

1. its strengths, weaknesses and differentiating elements, which implies that Hestia "adds up" data at each use to be able to compare the aggregate result of company X to all those already generated by previous companies. Examples:

- "your company has twice as many Active contributors who influence public opinion than the averag

[2022-11-08 12:36] pdehaye commented on #1141
I think the big question is aggregation for whom? A teacher? The company? A consultant the company is hiring? Very hard to say actually!!! All sound interesting in some way!

[2022-11-09 08:16] #886 closed

[2022-11-09 08:19] valentinoli commented on #886
Done as per #1076

[2022-11-10 08:12] andreaskundig opened #1146 "A deployment example that uses modularisation"
Create a website like https://github.com/hestiaAI/experiences-deployment-example
that fetches the code of experiences from a cdn

But first deploy the application the current way and fix the bugs that have appeared with modularization:

- [ ] app bar has vanished
- [x] #1151

[2022-11-10 09:13] alexbfree commented on #906
@andreaskundig is seeing the issue again

[2022-11-10 09:17] alexbfree commented on #1101
This is implemented and working and deployed, valentin is awaiting @hestiaAI/bizdev feedback.

[2022-11-10 09:17] alexbfree commented on #1084
@valentinoli reports this is fixed.

[2022-11-10 09:17] #1084 closed

[2022-11-10 10:36] #1131 closed

[2022-11-10 13:10] valentinoli opened #1148 "🐞 [BUG]: <title> and relevant meta tags are not prerendered"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

The title of a page is "Booting 🚀" when sharing pages on social media.

### Expected Behavior

The resolved title should be displayed.

### Images

![Uploading image.png…]()

### Steps to Reproduce

Copy any link in the app and paste it on social media.

### Data Sources

_No response_

###

[2022-11-10 14:49] andreaskundig opened #1150 "video testimonial on digipower.academy is broken"
I get this warning in the console with npm run dev (and barebones config)

[Vue warn]: Unknown custom element:  BaseVideo - did you register the component correctly? For recursive components, make sure to provide the "name" option.

[2022-11-10 16:59] andreaskundig opened #1151 "Set theme in nuxt, not in data-experience"
The theme is updated in [TheDataExperience](https://github.com/hestiaAI/hestialabs-experiences/tree/968fd5e53e8f79ab52e97782a15c3359c99a8796/data-experience/src/components/TheDataExperience.vue)

The result is that a theme loaded from a config is only applied once you go to an experience. (The theme is also not applied if you load the url of the experience directly, but that's a bug).

We want the

[2022-11-11 08:20] valentinoli commented on #906
I have fixed a similar issue before in another project. I could look into it but I need to understand exactly what the issue is and be able to reproduce it

[2022-11-11 10:07] andreaskundig opened #1152 "🐞 [BUG]: browser freezes/site crashes when visiting many tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

In the uber driver experience, using many tabs slows the application down to the point where clicking on a new tab does not open it for a while. Firefox can end up asking you if you want to kill the script. The site can crash.

### Expected Behavior

no slowdown or crash

### Images

_No res

[2022-11-11 22:09] valentinoli commented on #1003
https://www.npmjs.com/package/@hestia.ai/hestias-hearth

[2022-11-14 08:38] foucault-dumas commented on #756
from Alex in Discord, of interest here:
Here is the project where cyclists can collect data about black spots with a view to influencing council policy that  I mentioned. It's not running any more but I know the principal researcher well if you need to know anything more. Posting here in case of interest to others too.

summary of project
https://openlab.ncl.ac.uk/research/spokespeople-helping-cyc

[2022-11-14 13:50] foucault-dumas opened #1154 "🐞 [BUG]: Change the link in the Weekly live data analysis with PO from eventbrite to Twitch"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

Please register [here](https://www.eventbrite.ch/cc/weekly-live-data-analysis-with-paul-olivier-dehaye-1269769#) --> this is obsolete

### Expected Behavior

Please follow us [here](https://www.twitch.tv/digipoweracademy)

### Images

<img width="908" alt="image" src="https://user-images.git

[2022-11-14 15:09] foucault-dumas opened #1155 "💡 [FEATURE REQUEST] Need to display the weekly live data analysis with POD programm"
**Is your feature request related to a problem? Please describe.**
We don't have a place to send people to find out about our upcoming digipower.academy demonstration on Twitch.
Right now it's in [POD's slides](https://docs.google.com/presentation/d/1ypSEM1zMBSftx0Z-pRWsbSfaUBtN9Ymp/edit?usp=sharing&ouid=114104765442795001453&rtpof=true&sd=true) but it sucks because it disappears as soon as the de

[2022-11-14 15:24] foucault-dumas opened #1156 "💡 [FEATURE REQUEST] Need to display the videos of the weekly live data analysis with POD"
**Is your feature request related to a problem? Please describe.**
We don't have a place where people can see the demonstration POD does on Twitch.

**Describe the solution you'd like**
An easily editable carousel (since it changes every Thursday night/Friday morning) embedded on the digipower academy homepage, like this (center column):
<img width="964" alt="image" src="https://user-images.github

[2022-11-14 15:36] foucault-dumas opened #1157 "💡 [FEATURE REQUEST] (Re)change the header of digipower.academy (but not much)"
**Is your feature request related to a problem? Please describe.**
Change the "s" for a "z" in "Analyse your data" --> Analyze your data

[2022-11-14 17:37] andreaskundig opened #1158 "set vuetify theme from nuxt"
The theme configured in config.json is not applied to the home page of the nuxt app. It's only applied after you navigate to a page that displays TheDataExperience.

[2022-11-14 20:05] andreaskundig commented on #1158
duplicate of #1151

[2022-11-14 20:05] #1158 closed

[2022-11-14 20:13] andreaskundig opened #1159 "Avoid importing from neighboring projects"
Imports from other projects should always go through package.json, not just grabbing a js file from the neighboring project.

https://github.com/hestiaAI/hestialabs-experiences/blob/master/experiences/store/index.js#L2

[code]

I find 5 such imports, maybe there are more:

./experiences/store/index.js:2:import BubbleAPI from '../../data-experience/src/utils/bubble-api'
./packages/hestias-hearth/in

[2022-11-14 20:29] andreaskundig opened #1161 "Charts should not need a vuex store, I think"
The mixin for charts tries to access the name of the current tab, but we want to be able to use visualizations outside of experience tabs.

[code]
https://github.com/hestiaAI/hestialabs-experiences/blob/431db2037d831d646549b9e0b40acef30c232526/data-experience/src/components/chart/view/mixin.js#L21..L28

[2022-11-15 08:59] valentinoli commented on #1159
This one is on me

[2022-11-15 09:04] valentinoli commented on #1161
Yes, this can be avoided

[2022-11-15 09:10] alexbfree commented on #1156
This overlaps with hestiaAI/clients/issues/24 and hestiaAI/clients/issues/54 which are already in the queue to be developed.

Adding to umbrella ticket hestiaAI/clients/issues/72 to be reviewed alongside those tickets.

includes CMS features so can't be done separately/beforehand to CMS features.

[2022-11-15 09:11] alexbfree commented on #1155
Because this contains CMS features this needs to be done as part of the CMS umbrella

https://github.com/hestiaAI/clients/issues/72

[2022-11-15 09:13] alexbfree commented on #1156
Appears in main board through https://github.com/hestiaAI/clients/issues/72 -> subticket moved to backlog until it is worked on.

[2022-11-15 09:13] alexbfree commented on #1155
Appears in main board through https://github.com/hestiaAI/clients/issues/72 -> subticket moved to backlog until it is worked on.

[2022-11-15 09:17] foucault-dumas commented on #1155
I'm sorry but no, this need to be done right now. Could you please find a way to do it "by hand" until an editable solution (CMS or not) is developed?

[2022-11-15 09:18] alexbfree commented on #1152
Needs development ideas on what we could do to address this.

[2022-11-15 09:20] alexbfree commented on #1151
Prioritized as Medium as this blocks us from customising the UI

[2022-11-15 09:37] alexbfree commented on #1155
OK @foucault-dumas understood - if you are ok with non-editability for now I am sure it can be pushed through sooner.

Is the content text to be added just exactly as it appears in the screenshot?

I will ask devs if someone is free to do this today/tomorrow (just adding the content in a non-editable way).

Presumably this is needed for digipower live on Thursday?

[2022-11-15 12:13] alexbfree opened #1162 "ability to make columns in tables non-filterable"

[2022-11-15 12:13] alexbfree opened #1163 "translation of Uber Driver experience (no immediate need, but currently inconsistent with other translated experiences inc Uber Rider)"

[2022-11-15 12:50] alexbfree commented on #1114
Closed as not possible

[2022-11-15 12:50] #1114 closed

[2022-11-16 09:19] alexbfree opened #1165 "Dev Task 1"
test

[2022-11-16 09:20] alexbfree opened #1166 "Dev task 2"
test

[2022-11-16 09:20] alexbfree opened #1167 "Example request from bizdev"
Bizdev wants blablah

Dev breaks this down as
- [ ] https://github.com/hestiaAI/hestialabs-experiences/issues/1165
- [ ] https://github.com/hestiaAI/hestialabs-experiences/issues/1166

[2022-11-16 09:47] #1003 closed

[2022-11-16 09:50] valentinoli commented on #1003
Closing as the main functionalities have been implemented and the package is published. Tests are also working and the PR has been merged, which included changes in the packages structure and republishing of all packages to their first major semantic version 1.0.0

[2022-11-16 12:35] #1085 closed

[2022-11-16 13:25] valentinoli commented on #1154
The change has been done but not deployed. There is an error in ansible we're trying to resolve.

https://media.discordapp.net/attachments/1042425598573813763/1042428321025237033/image.png?width=1440&height=259

[2022-11-16 20:11] #1154 closed

[2022-11-16 20:12] valentinoli commented on #1101
Still waiting for feedback

[2022-11-17 09:43] fquellec opened #1173 "💡 [FEATURE REQUEST] Load experiences from CDN when needed by a bubble but not in the siteConfig"
**Is your feature request related to a problem? Please describe.**
Right now if a bubble/space have an experience that is not included in the website / site Config, it doesnt show up on the bubble.

**Describe the solution you'd like**
We want experiences to be imported on the fly when they are not imported at build time by the website. If the xp is not in vuex, load it with the CDN.

[2022-11-17 09:56] #1157 closed

[2022-11-17 09:57] #1150 closed

[2022-11-17 10:25] foucault-dumas opened #1174 "🐞 [BUG]: Wrong link in the Google takeout experience"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

When you click on "cliquer ici" in the first tab of the Google takeout exp, the link sends you to the Uber download portal

![image](https://user-images.githubusercontent.com/81250365/202421152-1c18e9d5-7bd7-4076-b175-1893120659c9.png)

### Expected Behavior

it should send the user to takeo

[2022-11-17 12:42] valentinoli commented on #1159
I tried fixing the imports in `hestias-hearth` but it just isn't working. It is because `data-experience` doesn't have  `"type": "module"` in its `package.json`, which makes the compiler think it doesn't support ES modules.

I will try to migrate `data-experience` to use ESM exclusively

[2022-11-17 12:44] fquellec opened #1175 "🐞 [BUG]: Translations between nuxt and data-experience module are not well merged"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

if we add a locale key to data-experience/locales, it is correctly used when running the module with `npm run dev`.
But once the data-experience is run under the nuxt app, the locales' keys are not found anymore.

Example with Tiktok experience, Login History Tab:
 - data-experience - npm ru

[2022-11-17 14:19] valentinoli commented on #1175
yes, this is really some unfinished business related to modularization

We should start with filtering both data-experience/locales and experiences/locales

and then figure out how to include data-experience/locales in the Nuxt app

[2022-11-21 08:31] andreaskundig opened #1176 "🐞 [BUG]: sometimes kepler map is not loading"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

The uber driver experience didn't display any maps. I reloaded the page but it did not help. I tried the google experience, and there the maps worked. I came back to uber driver and it still didn't work. This seems so weird that I'm not entirely sure I remember that it happened exactly like

[2022-11-21 08:56] valentinoli commented on #1167
Testing webhook

[2022-11-23 13:36] #1159 closed

[2022-11-23 13:39] andreaskundig commented on #896
Done with #1160

[2022-11-23 13:39] #896 closed

[2022-11-28 11:15] andreaskundig opened #1182 "🧆 [BUBBLE REQUEST]: asdpo.swiss"
### General Context

FIRST STEP: add linkedin to digpower live participant bubble

then model asdpo on the digipower bubbles

asdpo-participant
asdpo-aggregator

### Bizdev Contact Person

@pdehaye

### Deadline / Importance

tomorrow

### Bubble Title

Swiss DPO association

### Bubble ID

asdpo-participant

### Bubble Description

_No response_

### Additional Content

_No response_

### Icon UR

[2022-11-28 16:26] #1182 closed